html {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth; }

body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: #009ef1;
  background-color: #fdfdfd; }

p {
  line-height: 1.75; }

a {
  transition: .3s color ease-in-out;
  color: #009ef1; }
  a:hover {
    color: #007dbe;
    text-decoration: none; }

.text-primary {
  color: #009ef1 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Lato", sans-serif; }

strong {
  font-weight: 700; }

.btn {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: normal;
  padding: 12px 15px;
  white-space: normal;
  word-wrap: normal;
  box-sizing: border-box;
  border-radius: 35px;
  transition: .3s color ease-in-out, .3s background-color ease-in-out, .3s border-color ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 183px;
  box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314); }
  .btn i {
    display: inline-block;
    font-size: 20px;
    padding: 0 5px; }

.btn-primary {
  background-color: #009ef1;
  border-color: #009ef1; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #0085cb !important;
    border-color: #0085cb !important;
    color: #fff; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-alt {
  background: linear-gradient(-35deg, #009ef1, #00a7ff);
  border: 0;
  color: #fff !important; }
  .btn-alt:active, .btn-alt:focus, .btn-alt:hover {
    background: linear-gradient(35deg, #009ef1, #00a7ff);
    border: 0;
    color: #fff; }
  .btn-alt:active, .btn-alt:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-alt-clear {
  background-color: transparent;
  border-color: #009ef1;
  color: #009ef1 !important; }
  .btn-alt-clear:active, .btn-alt-clear:focus, .btn-alt-clear:hover {
    background-color: #0085cb !important;
    border-color: #0085cb !important;
    color: #fff !important; }
  .btn-alt-clear:active, .btn-alt-clear:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-blue-dark {
  background-color: #009ef1;
  border-color: #009ef1;
  color: #fff; }
  .btn-blue-dark:active, .btn-blue-dark:focus, .btn-blue-dark:hover {
    background-color: #0085cb !important;
    border-color: #0085cb !important;
    color: #fff; }
  .btn-blue-dark:active, .btn-blue-dark:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-clear {
  background-color: transparent;
  border-color: #fff;
  color: #fff; }
  .btn-clear:active, .btn-clear:focus, .btn-clear:hover {
    background-color: #fff;
    border-color: #fff;
    color: #009ef1; }
  .btn-clear:active, .btn-clear:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-sold {
  background-color: #009ef1 !important;
  border-color: #009ef1 !important;
  color: #fff; }
  .btn-sold:active, .btn-sold:focus, .btn-sold:hover {
    background-color: #009ef1 !important;
    border-color: #009ef1 !important;
    color: #fff; }

.btn-sky {
  background-color: #009ef1;
  border-color: #009ef1; }
  .btn-sky:active, .btn-sky:focus, .btn-sky:hover {
    background-color: #009ef1;
    border-color: #009ef1; }

.btn-grey {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  color: #9f9f9f; }
  .btn-grey:active, .btn-grey:focus, .btn-grey:hover {
    background-color: #009ef1;
    border-color: #009ef1;
    color: #fff; }

.btn-dark {
  background-color: #009ef1;
  border-color: #009ef1; }
  .btn-dark:active, .btn-dark:focus, .btn-dark:hover {
    background-color: #009ef1;
    border-color: #009ef1; }

.btn-transparent {
  background-color: transparent;
  border-color: #009ef1;
  color: #009ef1; }
  .btn-transparent:active, .btn-transparent:focus, .btn-transparent:hover {
    background-color: #009ef1;
    border-color: #009ef1;
    color: #fff; }

.btn-switch.toggle-yes {
  background-color: #009ef1;
  color: #fff; }

.btn-switch.toggle-no {
  background-color: #009ef1;
  color: #fff; }

.btn-switch.toggle-inactive {
  background-color: #009ef1;
  color: #555555; }

.btn-ico {
  margin: 15px 0 0;
  border: 1px solid transparent !important;
  background-color: #25b4ff; }
  .btn-ico:hover {
    background-color: #009ef1; }
    .btn-ico:hover i {
      background-color: #25b4ff; }
  .btn-ico i {
    display: inline-block;
    background-color: #009ef1;
    padding: 15px !important;
    margin: 0 10px 0 0;
    transition: .3s background-color ease-in-out, .3s color ease-in-out; }
  .btn-ico .file-size {
    color: #009ef1; }

.form-control:focus {
  box-shadow: none; }

::-moz-selection {
  background: #009ef1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #009ef1;
  color: #fff;
  text-shadow: none; }

img ::selection {
  background: transparent; }

img ::-moz-selection {
  background: transparent; }

.mainContent {
  padding: 140px 15px 15px;
  box-shadow: inset 0 0 15px rgba(0, 158, 241, 0.0784314);
  transition: transform ease .5s;
  transform: translateX(0); }
  @media screen and (min-width: 992px) {
    .mainContent {
      padding: 140px 15px 15px 330px; } }
  @media screen and (max-width: 992px) {
    .mainContent {
      padding: 140px 0 15px; } }
  @media screen and (max-width: 768px) {
    .mainContent {
      padding: 100px 0 15px; } }

.show-nav .mainContent {
  transition: transform ease .5s;
  transform: translateX(315px); }

.pageTitle {
  color: #00152d;
  font-weight: 700;
  font-size: 25px;
  margin: 5px 0 50px; }

.pageHeading .pageTitle {
  margin-bottom: 25px; }

.bgBlue {
  background-color: #009ef1; }

.bgGreen {
  background-color: #03d967; }

.bgOrange {
  background-color: #ff8d38; }

.voltaire-shadow-outset {
  box-shadow: 0 0 15px rgba(0, 158, 241, 0.0784314); }

.voltaire-shadow-inset {
  box-shadow: inset 0 0 15px rgba(0, 158, 241, 0.0784314); }

.tokenfield .token {
  background-color: #009ef1;
  border-color: #009ef1;
  color: #fff; }
  .tokenfield .token .close {
    background-image: url("../img/profile/iconClose.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    text-indent: -9999px;
    opacity: 1;
    margin-right: 5px; }
  .tokenfield .token:hover, .tokenfield .token:focus {
    border-color: #009ef1;
    box-shadow: inset 0 0 15px rgba(0, 158, 241, 0.0784314); }

.tokenfield .token-input {
  margin-bottom: 0; }

.ui-autocomplete {
  background-color: #fff;
  border: solid 2px #dadfe2;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 158, 241, 0.0784314);
  padding: 0;
  min-width: 10px !important;
  max-width: 150px;
  list-style: none; }
  .ui-autocomplete li {
    padding: 8px 5px 8px 15px;
    color: #555555;
    font-size: 14px; }
    .ui-autocomplete li:hover, .ui-autocomplete li:focus {
      background-color: #f0faff; }
    .ui-autocomplete li:first-child {
      border-radius: 5px 5px 0 0; }
    .ui-autocomplete li:last-child {
      border-radius: 0 0 5px 5px; }

.nav-list li {
  position: relative;
  padding-left: 25px;
  margin-top: 15px; }
  .nav-list li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #009ef1;
    border: solid 3px #d9f1fd;
    box-shadow: 0 0 5px rgba(0, 158, 241, 0.0784314);
    position: absolute;
    left: 0;
    top: 4px; }

.nav-tabs {
  border-bottom: solid 1px #f1f1f1; }
  .nav-tabs .nav-item {
    margin: 0; }
    .nav-tabs .nav-item.show {
      border: 0;
      background-color: transparent;
      color: #009ef1; }
  .nav-tabs .nav-link {
    color: #8da9b7;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    padding: 10px 5px;
    margin: 0;
    border: 0;
    position: relative; }
    @media screen and (max-width: 768px) {
      .nav-tabs .nav-link {
        font-size: 15px; } }
    .nav-tabs .nav-link::before {
      width: 0;
      height: 2px;
      background-color: #009ef1;
      position: absolute;
      margin-top: 5px;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      content: '';
      left: 50%;
      bottom: -1px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%); }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link.active {
      border: 0;
      color: #009ef1;
      background-color: transparent; }
      .nav-tabs .nav-link:hover::before, .nav-tabs .nav-link.active::before {
        width: 100%;
        height: 2px;
        background-color: #009ef1;
        position: absolute;
        margin-top: 5px;
        -webkit-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
        content: '';
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%); }

.dropdown-menu {
  border: solid 2px #f1f1f1;
  border-radius: 5px; }
  .dropdown-menu li {
    padding: .4rem 1.2rem; }
    .dropdown-menu li a {
      background: none;
      color: #555555;
      font-size: 14px; }
      .dropdown-menu li a span {
        min-width: 40px;
        display: inline-flex;
        justify-content: center;
        position: relative;
        top: 3px; }
        .dropdown-menu li a span i,
        .dropdown-menu li a span img {
          margin-right: 10px; }
      .dropdown-menu li a:hover, .dropdown-menu li a:focus {
        color: #009ef1; }
    .dropdown-menu li:hover, .dropdown-menu li:focus {
      background: none; }
    .dropdown-menu li.cardRed a {
      color: #ff3d3d; }

.contactsearch {
  position: relative; }
  .contactsearch .form-control {
    height: 50px;
    padding: 10px 60px 10px 15px;
    box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
    border: 0;
    border-radius: 35px; }
  .contactsearch .form-action {
    position: absolute;
    right: 0;
    top: 0; }
    .contactsearch .form-action .btn {
      background-color: #009ef1;
      border: 0;
      border-radius: 50%;
      min-width: 50px;
      max-width: 50px;
      width: 50px;
      height: 50px;
      justify-content: center; }

@media screen and (max-width: 768px) {
  .viewFilter .leftView {
    padding-bottom: 20px; } }

.viewFilter .leftView .navcheck li a {
  display: inline-flex;
  margin-right: 15px;
  color: #ababab;
  font-weight: 400; }
  .viewFilter .leftView .navcheck li a span {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: solid 2px #f1f1f1;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    position: relative;
    transition: .5s color ease-in-out; }
    .viewFilter .leftView .navcheck li a span::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      left: 5px;
      top: 4px;
      background-color: #009ef1;
      opacity: 0; }
  .viewFilter .leftView .navcheck li a:hover, .viewFilter .leftView .navcheck li a:focus, .viewFilter .leftView .navcheck li a.active {
    color: #009ef1; }
    .viewFilter .leftView .navcheck li a:hover span, .viewFilter .leftView .navcheck li a:focus span, .viewFilter .leftView .navcheck li a.active span {
      border-color: #009ef1; }
      .viewFilter .leftView .navcheck li a:hover span::before, .viewFilter .leftView .navcheck li a:focus span::before, .viewFilter .leftView .navcheck li a.active span::before {
        opacity: 1; }

.viewFilter .rightView .tabs {
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
  border: solid 1px #f1f1f1;
  border-radius: 35px;
  background-color: #fff;
  margin-left: auto; }
  .viewFilter .rightView .tabs li a {
    min-width: 10px;
    height: 50px;
    display: flex;
    padding: 0 50px;
    margin: 0 -2px;
    justify-content: center;
    line-height: 50px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #bcbcbc; }
    .viewFilter .rightView .tabs li a:hover, .viewFilter .rightView .tabs li a:focus {
      background: linear-gradient(-35deg, #009ef1, #00a7ff);
      color: #fff; }
    @media screen and (max-width: 600px) {
      .viewFilter .rightView .tabs li a {
        padding: 0 20px; } }
  @media screen and (max-width: 768px) {
    .viewFilter .rightView .tabs.select {
      margin-left: 0; }
      .viewFilter .rightView .tabs.select li {
        width: 100%;
        display: none; }
        .viewFilter .rightView .tabs.select li:first-child {
          display: block; }
        .viewFilter .rightView .tabs.select li:focus {
          display: block; } }

.adminSidebar {
  position: fixed;
  width: 315px;
  height: 100%;
  background-color: #009ef1;
  box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
  z-index: 3; }
  @media screen and (min-width: 992px) {
    .adminSidebar {
      display: block; } }
  @media screen and (max-width: 992px) {
    .adminSidebar {
      transition: transform ease .5s;
      transform: translateX(-100%); } }
  .adminSidebar .logo {
    box-shadow: inset 0 0 10px rgba(0, 158, 241, 0.0784314);
    padding: 17px 35px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    background-color: #fff;
    max-width: 330px;
    height: 100px;
    align-items: center; }
  .adminSidebar .sidebar-wrapper .sidebar-menu {
    padding: 25px 0;
    height: calc(100vh - 100px);
    overflow: auto; }
    .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item {
      min-width: 100%;
      margin: 5px 0;
      position: relative;
      transition: .3s color ease-in-out; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item .nav-link {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        padding: 5px 18px 5px 38px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        min-height: 64px; }
        .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item .nav-link i,
        .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item .nav-link img {
          font-size: 18px;
          margin-right: 20px; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item::before {
        content: '';
        background: linear-gradient(-35deg, #009ef1, #fff);
        transition: .3s color ease-in-out;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item::after {
        background-color: #fff;
        transition: .3s color ease-in-out;
        content: '';
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:hover::before, .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:focus::before {
        opacity: .4;
        transition: .3s color ease-in-out; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:hover::after, .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:focus::after {
        opacity: 1;
        transition: .3s color ease-in-out; }
  @media screen and (max-width: 992px) {
    .adminSidebar.show {
      transform: translateX(0%);
      transition: transform ease .5s;
      width: 315px; } }

.admin-header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px #f1f1f1;
  background-color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 158, 241, 0.0784314);
  z-index: 2;
  transition: transform ease .5s;
  transform: translateX(0); }
  @media screen and (min-width: 992px) {
    .admin-header {
      padding-left: 216px; } }
  .admin-header .spaceLogo {
    max-width: 100px;
    box-shadow: inset 0 0 10px rgba(0, 158, 241, 0.0784314);
    border-right: solid 1px #f1f1f1; }
    @media screen and (max-width: 768px) {
      .admin-header .spaceLogo {
        border: 0;
        box-shadow: none; } }
    .admin-header .spaceLogo button {
      outline: none;
      box-shadow: none;
      cursor: pointer; }
      .admin-header .spaceLogo button:hover, .admin-header .spaceLogo button:focus, .admin-header .spaceLogo button:active {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none; }
  .admin-header .searchBar .serachBlock {
    padding: 18px 0 13px; }
    .admin-header .searchBar .serachBlock .form-control {
      background-image: url("../img/icon/iconSearch.png");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: left center;
      border-radius: 0;
      border: 0;
      color: #bfc5d1;
      font-size: 18px;
      padding: 0 40px;
      outline: none; }
      .admin-header .searchBar .serachBlock .form-control:focus {
        box-shadow: none; }
  .admin-header .nav {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    color: #bfc5d1; }
    .admin-header .nav li {
      padding: 15px 30px; }
      .admin-header .nav li.notification {
        border-left: solid 1px #f1f1f1;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #bfc5d1; }
        .admin-header .nav li.notification a {
          color: #bfc5d1;
          position: relative; }
          .admin-header .nav li.notification a i {
            font-size: 26px; }
            @media screen and (max-width: 768px) {
              .admin-header .nav li.notification a i {
                font-size: 18px; } }
          .admin-header .nav li.notification a .notification-counter {
            width: 13px;
            height: 13px;
            border: solid 3px #009ef1;
            border-radius: 50%;
            position: absolute;
            top: -13px;
            animation: .9s infinite beatHeart; }
      .admin-header .nav li.avatar {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        border-left: solid 1px #f1f1f1;
        box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314); }
        .admin-header .nav li.avatar a {
          color: #000; }
          .admin-header .nav li.avatar a img {
            box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
            border-radius: 50%; }
            @media screen and (max-width: 768px) {
              .admin-header .nav li.avatar a img {
                max-width: 40px;
                margin-right: 8px; } }
          .admin-header .nav li.avatar a .avatarName {
            padding: 0 10px !important;
            color: #000 !important; }
            @media screen and (max-width: 768px) {
              .admin-header .nav li.avatar a .avatarName {
                display: none; } }
          .admin-header .nav li.avatar a::after {
            content: '';
            display: inline-flex;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #bfc5d1; }
          .admin-header .nav li.avatar a:hover {
            color: #009ef1; }

@media screen and (max-width: 992px) {
  .show-nav .admin-header {
    transition: transform ease .5s;
    transform: translateX(315px); } }

.table thead th {
  color: #009ef1;
  border: 0;
  font-size: 14px;
  font-weight: 400; }
  .table thead th:last-child {
    text-align: center; }

.table tbody tr {
  position: relative; }
  .table tbody tr td {
    font-size: 15px;
    font-weight: 400;
    vertical-align: middle;
    border: 0;
    position: relative; }
    .table tbody tr td .userInfo {
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .table tbody tr td .userInfo {
          display: inherit; } }
      .table tbody tr td .userInfo .avatarImg {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        margin-right: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center; }
    .table tbody tr td .iconSocial li {
      border: solid 1px #bfc5d1;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s color ease-in-out;
      margin: 0 5px; }
      .table tbody tr td .iconSocial li a {
        text-decoration: none; }
        .table tbody tr td .iconSocial li a img {
          display: flex; }
      .table tbody tr td .iconSocial li:hover {
        box-shadow: 0 0 5px #009ef1; }
    .table tbody tr td:last-child {
      text-align: center;
      color: #bfc5d1; }

.tableViewContent {
  padding-top: 50px; }
  .tableViewContent .viewGroup {
    padding: 0 15px; }
    .tableViewContent .viewGroup .viewHeader {
      margin-bottom: 25px;
      padding: 0 15px; }
      .tableViewContent .viewGroup .viewHeader .headCTop {
        color: #009ef1;
        border: 0;
        font-size: 14px;
        font-weight: 400; }
        .tableViewContent .viewGroup .viewHeader .headCTop:last-child {
          text-align: center;
          max-width: 60px;
          padding: 0; }
        .tableViewContent .viewGroup .viewHeader .headCTop.sno {
          max-width: 60px; }
    .tableViewContent .viewGroup .viewContent .row {
      position: relative;
      padding: 25px 15px;
      align-items: center;
      border: solid 1px #f1f1f1;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 158, 241, 0.0784314);
      margin-top: 9px;
      margin-bottom: 9px; }
      .tableViewContent .viewGroup .viewContent .row .headTop {
        font-size: 15px;
        font-weight: 400;
        vertical-align: middle;
        border: 0;
        position: relative; }
        .tableViewContent .viewGroup .viewContent .row .headTop .userInfo {
          display: -ms-flexbox;
          display: flex;
          align-items: center; }
          .tableViewContent .viewGroup .viewContent .row .headTop .userInfo .avatarImg {
            min-width: 65px;
            height: 65px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            margin-right: 20px;
            display: inline-flex;
            justify-content: center;
            align-items: center; }
        .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li {
          border: solid 1px #bfc5d1;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .3s color ease-in-out;
          margin: 3px 5px; }
          .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li a {
            text-decoration: none; }
            .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li a img {
              display: flex; }
          .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li:hover {
            box-shadow: 0 0 5px #009ef1; }
          @media screen and (max-width: 991px) {
            .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li {
              margin-bottom: 5px; } }
        .tableViewContent .viewGroup .viewContent .row .headTop .btn-dropdown {
          background: none;
          box-shadow: none;
          border: solid 1px #fff;
          border-radius: 3px;
          padding: 5px 10px;
          color: #bfc5d1;
          outline: none;
          cursor: pointer; }
          .tableViewContent .viewGroup .viewContent .row .headTop .btn-dropdown.dropdown-toggle::after {
            display: none; }
        .tableViewContent .viewGroup .viewContent .row .headTop.sno {
          max-width: 60px; }
        .tableViewContent .viewGroup .viewContent .row .headTop.show .btn-dropdown {
          border: solid 1px #eeeeee; }
        .tableViewContent .viewGroup .viewContent .row .headTop:last-child {
          text-align: center;
          color: #bfc5d1;
          max-width: 60px;
          padding: 0; }
        @media screen and (max-width: 768px) {
          .tableViewContent .viewGroup .viewContent .row .headTop {
            padding-top: 5px;
            padding-bottom: 5px; }
            .tableViewContent .viewGroup .viewContent .row .headTop .icon {
              color: #009ef1;
              font-size: 20px;
              margin-right: 10px; }
            .tableViewContent .viewGroup .viewContent .row .headTop.ellipDropdown {
              position: absolute;
              right: 10px;
              top: 10px;
              font-size: 22px;
              width: auto;
              z-index: 1; } }

.welcome {
  background-image: url("../img/welcome/shapeleft.png"), url("../img/welcome/shaperight.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: left top, right bottom;
  background-attachment: fixed; }
  .welcome .voltaireArea {
    padding: 1.8rem 8vw; }
    @media screen and (max-width: 768px) {
      .welcome .voltaireArea {
        padding: 1rem 1vw; } }
    .welcome .voltaireArea .voltairBOX {
      background-color: #fff;
      padding: 5vh 0;
      position: relative;
      width: 100%;
      min-height: calc(100vh - 60px); }
      @media screen and (max-width: 768px) {
        .welcome .voltaireArea .voltairBOX {
          min-height: calc(100vh - 30px); } }
      .welcome .voltaireArea .voltairBOX .voltairBOXInner {
        position: static; }
        .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireHeading .pageHeading {
          font-size: 70px;
          text-transform: uppercase;
          color: #192940; }
          @media screen and (max-width: 768px) {
            .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireHeading .pageHeading {
              font-size: 3rem; } }
        .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireSubHeading {
          font-size: 20px;
          color: #009ef1;
          padding-bottom: 15px; }
          @media screen and (max-width: 768px) {
            .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireSubHeading {
              font-size: 18px; } }
        .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireArt img {
          max-width: 100%;
          height: auto; }
        .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireProfile {
          position: absolute;
          left: 0;
          bottom: 30px; }
          .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireProfile .btn {
            min-width: 270px; }
            @media screen and (max-width: 400px) {
              .welcome .voltaireArea .voltairBOX .voltairBOXInner .voltaireProfile .btn {
                min-width: 250px; } }
      .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox {
        padding: 0 80px;
        position: relative; }
        .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .blockTitle {
          color: #363636;
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 40px;
          position: relative; }
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .blockTitle::before {
            content: '';
            width: 5px;
            height: 100%;
            position: absolute;
            left: -80px;
            top: 0;
            background-color: #009ef1;
            border-radius: 0 10px 10px 0; }
            @media screen and (max-width: 992px) {
              .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .blockTitle::before {
                left: -40px; } }
            @media screen and (max-width: 480px) {
              .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .blockTitle::before {
                left: -20px; } }
        .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .boxBorder {
          border: solid 2px #eeeeee;
          border-radius: 6px; }
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .boxBorder .row {
            margin: 0 -1px; }
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .boxBorder .row .form-control {
              color: #363636;
              border-radius: 0;
              padding-left: 20px;
              padding-right: 20px;
              min-height: calc(65px);
              border-color: #eeeeee; }
              .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .boxBorder .row .form-control.iconuser {
                background: url("../img/login/user.png") no-repeat 95% center;
                padding-right: 65px; }
              .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .boxBorder .row .form-control.iconpass {
                background: url("../img/login/pass.png") no-repeat 95% center;
                padding-right: 65px; }
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .boxBorder .row .form-check {
              color: #ababab; }
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .boxBorder .row .forgotPassword a {
              text-decoration: underline;
              color: #009ef1; }
        @media screen and (max-width: 767px) {
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .form-action {
            text-align: center; } }
        .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox form .form-action .btn {
          cursor: pointer;
          -ms-flex-pack: center;
          justify-content: center;
          text-align: center; }
        .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia {
          color: #ababab; }
          @media screen and (max-width: 768px) {
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav {
              justify-content: center; } }
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav li a {
            box-shadow: 0 0 15px rgba(0, 158, 241, 0.0784314);
            width: 50px;
            height: 50px;
            border: solid 1px #eeeeee;
            border-radius: 50%;
            display: block;
            text-align: center;
            line-height: 46px;
            margin: 0 15px;
            animation: pulse 2s infinite; }
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav li a:last-child {
              margin-right: 0; }
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav li.loginwith {
            position: relative; }
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav li.loginwith span {
              margin-left: -15px;
              background-color: #fff;
              position: relative;
              z-index: 2;
              padding-right: 10px; }
              @media screen and (max-width: 767px) {
                .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav li.loginwith span {
                  margin-left: 0;
                  padding-left: 10px; } }
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav li.loginwith::before {
              content: '';
              width: 100%;
              height: 1px;
              background-color: #eeeeee;
              position: absolute;
              left: 0;
              top: 50%; }
            @media screen and (max-width: 767px) {
              .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltaireMedia .nav li.loginwith {
                margin-bottom: 20px;
                justify-content: center; } }
        .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltairesighup {
          margin-bottom: -30px;
          color: #ababab; }
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltairesighup p {
            margin: 0; }
          @media screen and (max-width: 768px) {
            .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox .voltairesighup {
              margin-bottom: 0; } }
        @media screen and (max-width: 992px) {
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox {
            padding: 0 40px; } }
        @media screen and (max-width: 480px) {
          .welcome .voltaireArea .voltairBOX .voltaireLogin .loginBox {
            padding: 0 20px; } }
  .welcome.user-login {
    background-image: url("../img/welcome/shapeleft.png"), url("../img/welcome/shaperight.png"), url("../img/welcome/shapecircle.png"), url("../img/welcome/shapetrig.png"), url("../img/welcome/shapesq.png");
    background-position: left top, right bottom, left bottom, right top, right 35vh; }
    .welcome.user-login .voltaireArea .voltairBOX::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 38%;
      height: 100%;
      background: linear-gradient(-35deg, #43beff, #00a7ff);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%); }
      @media screen and (max-width: 767px) {
        .welcome.user-login .voltaireArea .voltairBOX::before {
          display: none; } }
    .welcome.user-login .voltaireArea .voltairBOX::after {
      content: '';
      background-image: url("../img/welcome/shapesq1.png");
      background-repeat: no-repeat;
      width: 54px;
      height: 54px;
      position: absolute;
      left: 50%;
      top: -27px;
      margin-left: -27px; }
  .welcome.profile {
    background-image: url("../img/welcome/shapeleft.png"), url("../img/welcome/shaperight.png"), url("../img/welcome/shapecircle.png"), url("../img/welcome/shapetrig.png"), url("../img/welcome/shapesq.png");
    background-position: left top, right bottom, left bottom, right top, right 35vh; }

.imagePolygon {
  display: -ms-flexbox;
  display: flex; }
  .imagePolygon img {
    max-width: 100%;
    min-width: 100%;
    height: auto; }

.profile .coverImage {
  margin-top: -5vh; }
  .profile .coverImage img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 3px 3px 0 0; }

.profile .userPicture {
  position: relative; }
  .profile .userPicture .userImage {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: -122px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%); }
    .profile .userPicture .userImage img {
      border: solid 4px #fff;
      border-radius: 50%;
      max-width: 100%;
      height: auto; }
    .profile .userPicture .userImage .editProfile {
      background-color: #009ef1;
      border-radius: 50%;
      border: solid 4px #fff;
      position: absolute;
      right: -5px;
      bottom: 20px;
      width: 48px;
      height: 48px;
      text-align: center;
      line-height: 35px;
      z-index: 2; }
      @media screen and (max-width: 768px) {
        .profile .userPicture .userImage .editProfile {
          width: 30px;
          height: 30px;
          line-height: 18px; } }
      .profile .userPicture .userImage .editProfile img {
        border: 0;
        border-radius: 0; }
        @media screen and (max-width: 768px) {
          .profile .userPicture .userImage .editProfile img {
            max-width: 10px; } }
    @media screen and (max-width: 768px) {
      .profile .userPicture .userImage {
        width: 100px;
        height: 100px;
        top: -20px; } }

.profile .profileFill {
  padding: 120px 50px 0; }
  .profile .profileFill form .form-group {
    padding: 0 50px;
    margin-bottom: 35px; }
    @media screen and (max-width: 768px) {
      .profile .profileFill form .form-group {
        padding: 0 20px; } }
    .profile .profileFill form .form-group .form-control {
      border-color: #dadfe2;
      border-width: .1rem;
      font-size: .9rem;
      color: #889099;
      padding: 10px 15px;
      min-height: calc(2.6rem + 2px); }
    .profile .profileFill form .form-group select {
      background-image: url("../img/profile/iconSelect.png");
      background-repeat: no-repeat;
      background-position: 97% center;
      padding-right: 35px !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
  .profile .profileFill form .form-action .btn {
    min-width: 140px;
    padding-left: 25px;
    cursor: pointer;
    margin-left: auto; }
    @media screen and (max-width: 768px) {
      .profile .profileFill form .form-action .btn {
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 768px) {
    .profile .profileFill {
      padding-left: 0;
      padding-right: 0; } }

.profile .ui-helper-hidden-accessible {
  display: none; }

.writingBox .pageHeading h2 {
  font-size: 35px;
  color: #00152d; }
  @media screen and (max-width: 768px) {
    .writingBox .pageHeading h2 {
      font-size: 25px; } }

.writingBox .boxText {
  padding: 30px 40px; }
  .writingBox .boxText .btn-text {
    width: 100%;
    min-height: 150px;
    display: flex;
    border: solid 0.1rem #bfc5d1;
    border-radius: 5px;
    color: #bfc5d1;
    font-size: 22px;
    position: relative; }
    .writingBox .boxText .btn-text span {
      padding: 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%); }
    .writingBox .boxText .btn-text:hover, .writingBox .boxText .btn-text:focus, .writingBox .boxText .btn-text:active, .writingBox .boxText .btn-text.active {
      color: #009ef1;
      border-color: #009ef1; }
  @media screen and (max-width: 768px) {
    .writingBox .boxText {
      padding: 20px; } }

.writingBox .form-action {
  position: absolute;
  right: 20px;
  bottom: 20px; }
  .writingBox .form-action .btn {
    min-width: 140px;
    padding-left: 25px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .writingBox .form-action .btn {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 768px) {
    .writingBox .form-action {
      position: relative;
      right: 0;
      top: 0; } }

.writing .voltaireArea .voltairBOX {
  padding: 12vh 0; }
  @media screen and (max-width: 600px) {
    .writing .voltaireArea .voltairBOX {
      padding: 5vh 0; } }

.voltaireCampaign .ViewTabs .nav {
  border: solid 1px #009ef1;
  border-radius: 5px;
  margin-bottom: 45px; }
  .voltaireCampaign .ViewTabs .nav li {
    padding: 0; }
    .voltaireCampaign .ViewTabs .nav li a {
      color: #8da9b7;
      font-size: 20px;
      font-weight: bold;
      justify-content: center;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 15px 10px;
      border-radius: 5px;
      margin: 0 -1px -1px; }
      .voltaireCampaign .ViewTabs .nav li a:hover, .voltaireCampaign .ViewTabs .nav li a:focus, .voltaireCampaign .ViewTabs .nav li a.active {
        background-color: #009ef1;
        color: #fff; }

.voltaireCampaign .viewCampaign .view-row {
  border: solid 2px #f1f1f1;
  border-radius: 5px; }
  .voltaireCampaign .viewCampaign .view-row .userPicture {
    margin: -1px; }
    .voltaireCampaign .viewCampaign .view-row .userPicture img {
      border-radius: 5px;
      max-width: 100%;
      min-width: 100%;
      height: auto; }
  .voltaireCampaign .viewCampaign .view-row .userDetails {
    padding-top: 20px;
    padding-right: 40px; }
    @media screen and (max-width: 768px) {
      .voltaireCampaign .viewCampaign .view-row .userDetails {
        padding-left: 30px;
        padding-right: 30px; } }
    .voltaireCampaign .viewCampaign .view-row .userDetails .profile-name {
      color: #009ef1;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px; }
    .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navDetails {
      padding: 0;
      color: #555555; }
      .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navDetails li {
        font-size: 14px;
        border-right: solid 1px #bfc5d1;
        padding: 0 15px; }
        @media screen and (max-width: 768px) {
          .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navDetails li {
            padding: 0 7px;
            font-size: 12px; } }
        .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navDetails li:first-child {
          padding-left: 0; }
        .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navDetails li:last-child {
          border: 0; }
        .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navDetails li.active {
          color: #00152d; }
    .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navicon {
      font-size: 12px; }
      .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navicon li {
        padding: 0 15px; }
        @media screen and (max-width: 768px) {
          .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navicon li {
            padding: 0 5px; } }
        .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navicon li a {
          color: #555555; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navicon li a:hover, .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navicon li a:focus {
            color: #00152d; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .nav.navicon li a span {
            margin-right: 8px; }
    .voltaireCampaign .viewCampaign .view-row .userDetails .navDescription {
      font-size: 14px;
      color: #555555; }
    .voltaireCampaign .viewCampaign .view-row .userDetails .separate .borderT {
      border-top: solid 1px #eeeeee;
      margin-left: -30px;
      margin-right: -25px;
      height: 1px; }
      @media screen and (max-width: 768px) {
        .voltaireCampaign .viewCampaign .view-row .userDetails .separate .borderT {
          margin-left: -15px;
          margin-right: -15px; } }
    .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl {
      width: 100%;
      position: relative;
      margin-top: 5px;
      padding-top: 15px;
      padding-bottom: 15px; }
      @media screen and (max-width: 768px) {
        .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li {
          max-width: 33.3333%;
          width: 33.3333%;
          flex: 0 0 33.3333%;
          margin-bottom: 15px; } }
      .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a {
        text-indent: -9999px;
        width: 30px;
        min-height: 25px;
        display: -ms-flexbox;
        display: flex; }
        .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconfacebook {
          background-image: url("../img/contactInsights/iconfacebook.png");
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: left center; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconfacebook:hover, .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconfacebook:focus {
            background-image: url("../img/contactInsights/iconfacebookhover.png"); }
        .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconcalendar {
          background-image: url("../img/contactInsights/iconcal.png");
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          margin: 0 auto; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconcalendar:hover, .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconcalendar:focus {
            background-image: url("../img/contactInsights/iconcalhover.png"); }
        .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconeye {
          background-image: url("../img/contactInsights/iconeye.png");
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          margin: 0 auto; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconeye:hover, .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconeye:focus {
            background-image: url("../img/contactInsights/iconeyehover.png"); }
        .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconmail {
          background-image: url("../img/contactInsights/iconmail.png");
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          margin: 0 auto; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconmail:hover, .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconmail:focus {
            background-image: url("../img/contactInsights/iconmailhover.png"); }
        .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.icongifts {
          background-image: url("../img/contactInsights/icongift.png");
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          margin: 0 auto; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.icongifts:hover, .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.icongifts:focus {
            background-image: url("../img/contactInsights/icongifthover.png"); }
        .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconsetting {
          background-image: url("../img/contactInsights/iconsetting.png");
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: center;
          margin-left: auto; }
          .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconsetting:hover, .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a.iconsetting:focus {
            background-image: url("../img/contactInsights/iconsettinghover.png"); }
        @media screen and (max-width: 768px) {
          .voltaireCampaign .viewCampaign .view-row .userDetails .iconControl .nav li a {
            margin: 0 auto; } }
  .voltaireCampaign .viewCampaign .view-row .viewHead {
    padding: 0; }
    .voltaireCampaign .viewCampaign .view-row .viewHead .boxTitle {
      color: #fff;
      padding: 15px;
      border-radius: 5px 5px 0 0;
      font-size: 20px;
      font-weight: bold;
      background-color: #009ef1;
      margin: -1px -1px 30px; }
  .voltaireCampaign .viewCampaign .view-row .viewContent {
    padding: 0 25px; }
    .voltaireCampaign .viewCampaign .view-row .viewContent .boxTitle {
      color: #00152d;
      font-size: 20px;
      margin-bottom: 20px; }
    .voltaireCampaign .viewCampaign .view-row .viewContent ul {
      list-style: none;
      padding: 0; }
      .voltaireCampaign .viewCampaign .view-row .viewContent ul li {
        font-size: 14px;
        color: #555555; }
        .voltaireCampaign .viewCampaign .view-row .viewContent ul li a {
          color: #555555;
          min-width: 100px;
          display: inline-flex; }
          .voltaireCampaign .viewCampaign .view-row .viewContent ul li a:hover, .voltaireCampaign .viewCampaign .view-row .viewContent ul li a:focus {
            color: #009ef1; }
        .voltaireCampaign .viewCampaign .view-row .viewContent ul li .blue {
          margin-left: 15px;
          min-width: 100px;
          display: inline-flex;
          justify-content: flex-end;
          color: #009ef1; }
          @media screen and (max-width: 768px) {
            .voltaireCampaign .viewCampaign .view-row .viewContent ul li .blue {
              min-width: 50px; } }
        .voltaireCampaign .viewCampaign .view-row .viewContent ul li .textBlue {
          color: #009ef1; }
        .voltaireCampaign .viewCampaign .view-row .viewContent ul li .textdate {
          color: #99acb6;
          font-size: 13px; }
    .voltaireCampaign .viewCampaign .view-row .viewContent .newsBox {
      border: solid 2px #f1f1f1;
      border-radius: 5px;
      padding: 10px 10px 15px;
      height: 100%; }
      .voltaireCampaign .viewCampaign .view-row .viewContent .newsBox .newsImage {
        margin: -10px -10px 7px; }
        .voltaireCampaign .viewCampaign .view-row .viewContent .newsBox .newsImage img {
          max-width: 100%;
          min-width: 100%;
          height: auto;
          border-radius: 5px 5px 0 0; }
      .voltaireCampaign .viewCampaign .view-row .viewContent .newsBox .newsdate {
        font-size: 13px;
        color: #99acb6; }
      .voltaireCampaign .viewCampaign .view-row .viewContent .newsBox .newsTitle {
        font-size: 15px;
        color: #333333; }
