html {
  height: 100%;
  min-height: 100%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: #009ef1;
  background-color: #fdfdfd; }

p {
  line-height: 1.75; }

a {
  transition: .3s color ease-in-out;
  color: #009ef1; }
  a:hover {
    color: #007dbe;
    text-decoration: none; }

.text-primary {
  color: #009ef1 !important; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Lato", sans-serif; }

strong {
  font-weight: 700; }

.btn {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: .1rem;
  padding: 10px;
  white-space: normal;
  word-wrap: normal;
  box-sizing: border-box;
  border-radius: 0;
  transition: .3s color ease-in-out, .3s background-color ease-in-out, .3s border-color ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: left; }
  .btn i {
    display: inline-block;
    font-size: 20px;
    padding: 0 5px; }

.btn-primary {
  background-color: #009ef1;
  border-color: #009ef1; }
  .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #0085cb !important;
    border-color: #0085cb !important;
    color: #fff; }
  .btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-alt {
  background: linear-gradient(-35deg, #009ef1, #00a7ff);
  border: 0;
  color: #fff !important; }
  .btn-alt:active, .btn-alt:focus, .btn-alt:hover {
    background: linear-gradient(35deg, #009ef1, #00a7ff);
    border: 0;
    color: #fff; }
  .btn-alt:active, .btn-alt:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-alt-clear {
  background-color: transparent;
  border-color: #009ef1;
  color: #009ef1 !important; }
  .btn-alt-clear:active, .btn-alt-clear:focus, .btn-alt-clear:hover {
    background-color: #0085cb !important;
    border-color: #0085cb !important;
    color: #fff !important; }
  .btn-alt-clear:active, .btn-alt-clear:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-blue-dark {
  background-color: #009ef1;
  border-color: #009ef1;
  color: #fff; }
  .btn-blue-dark:active, .btn-blue-dark:focus, .btn-blue-dark:hover {
    background-color: #0085cb !important;
    border-color: #0085cb !important;
    color: #fff; }
  .btn-blue-dark:active, .btn-blue-dark:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-clear {
  background-color: transparent;
  border-color: #fff;
  color: #fff; }
  .btn-clear:active, .btn-clear:focus, .btn-clear:hover {
    background-color: #fff;
    border-color: #fff;
    color: #009ef1; }
  .btn-clear:active, .btn-clear:focus {
    box-shadow: 0 0 0 1px #18b0ff !important; }

.btn-sold {
  background-color: #009ef1 !important;
  border-color: #009ef1 !important;
  color: #fff; }
  .btn-sold:active, .btn-sold:focus, .btn-sold:hover {
    background-color: #009ef1 !important;
    border-color: #009ef1 !important;
    color: #fff; }

.btn-sky {
  background-color: #009ef1;
  border-color: #009ef1; }
  .btn-sky:active, .btn-sky:focus, .btn-sky:hover {
    background-color: #009ef1;
    border-color: #009ef1; }

.btn-grey {
  background-color: #f3f3f3;
  border-color: #f3f3f3;
  color: #9f9f9f; }
  .btn-grey:active, .btn-grey:focus, .btn-grey:hover {
    background-color: #009ef1;
    border-color: #009ef1;
    color: #fff; }

.btn-dark {
  background-color: #009ef1;
  border-color: #009ef1; }
  .btn-dark:active, .btn-dark:focus, .btn-dark:hover {
    background-color: #009ef1;
    border-color: #009ef1; }

.btn-transparent {
  background-color: transparent;
  border-color: #009ef1;
  color: #009ef1; }
  .btn-transparent:active, .btn-transparent:focus, .btn-transparent:hover {
    background-color: #009ef1;
    border-color: #009ef1;
    color: #fff; }

.btn-switch.toggle-yes {
  background-color: #009ef1;
  color: #fff; }

.btn-switch.toggle-no {
  background-color: #009ef1;
  color: #fff; }

.btn-switch.toggle-inactive {
  background-color: #009ef1;
  color: #555555; }

.btn-ico {
  margin: 15px 0 0;
  border: 1px solid transparent !important;
  background-color: #25b4ff; }
  .btn-ico:hover {
    background-color: #009ef1; }
    .btn-ico:hover i {
      background-color: #25b4ff; }
  .btn-ico i {
    display: inline-block;
    background-color: #009ef1;
    padding: 15px !important;
    margin: 0 10px 0 0;
    transition: .3s background-color ease-in-out, .3s color ease-in-out; }
  .btn-ico .file-size {
    color: #009ef1; }

::-moz-selection {
  background: #009ef1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #009ef1;
  color: #fff;
  text-shadow: none; }

img ::selection {
  background: transparent; }

img ::-moz-selection {
  background: transparent; }

.mainContent {
  padding: 140px 15px 15px;
  box-shadow: inset 0 0 15px rgba(0, 158, 241, 0.0784314);
  transition: transform ease .5s;
  transform: translateX(0); }
  @media screen and (max-width: 991px) {
    .mainContent {
      padding: 140px 0 15px; } }
  @media screen and (max-width: 768px) {
    .mainContent {
      padding: 100px 0 15px; } }

.show-nav .mainContent {
  transition: transform ease .5s;
  transform: translateX(315px); }

.pageTitle {
  color: #00152d;
  font-weight: 700;
  font-size: 25px;
  margin: 5px 0 50px; }

.bgBlue {
  background-color: #009ef1; }

.bgGreen {
  background-color: #03d967; }

.bgOrange {
  background-color: #ff8d38; }

.contactsearch {
  position: relative; }
  .contactsearch .form-control {
    height: 50px;
    padding: 10px 60px 10px 15px;
    box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
    border: 0;
    border-radius: 35px; }
  .contactsearch .form-action {
    position: absolute;
    right: 0;
    top: 0; }
    .contactsearch .form-action .btn {
      background-color: #009ef1;
      border: 0;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      justify-content: center; }

@media screen and (max-width: 768px) {
  .viewFilter .leftView {
    padding-bottom: 20px; } }

.viewFilter .leftView .navcheck li a {
  display: inline-flex;
  margin-right: 15px;
  color: #ababab;
  font-weight: 400; }
  .viewFilter .leftView .navcheck li a span {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: solid 2px #f1f1f1;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    position: relative;
    transition: .5s color ease-in-out; }
    .viewFilter .leftView .navcheck li a span::before {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      left: 5px;
      top: 4px;
      background-color: #009ef1;
      opacity: 0; }
  .viewFilter .leftView .navcheck li a:hover, .viewFilter .leftView .navcheck li a:focus, .viewFilter .leftView .navcheck li a.active {
    color: #009ef1; }
    .viewFilter .leftView .navcheck li a:hover span, .viewFilter .leftView .navcheck li a:focus span, .viewFilter .leftView .navcheck li a.active span {
      border-color: #009ef1; }
      .viewFilter .leftView .navcheck li a:hover span::before, .viewFilter .leftView .navcheck li a:focus span::before, .viewFilter .leftView .navcheck li a.active span::before {
        opacity: 1; }

.viewFilter .rightView .tabs {
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
  border: solid 1px #f1f1f1;
  border-radius: 35px;
  background-color: #fff;
  margin-left: auto; }
  .viewFilter .rightView .tabs li a {
    height: 50px;
    display: flex;
    padding: 0 50px;
    margin: 0 -2px;
    justify-content: center;
    line-height: 50px;
    border-radius: 35px;
    font-size: 16px;
    font-weight: 700;
    color: #bcbcbc; }
    .viewFilter .rightView .tabs li a:hover, .viewFilter .rightView .tabs li a:focus {
      background: linear-gradient(-35deg, #009ef1, #00a7ff);
      color: #fff; }
    @media screen and (max-width: 600px) {
      .viewFilter .rightView .tabs li a {
        padding: 0 20px; } }
  @media screen and (max-width: 768px) {
    .viewFilter .rightView .tabs.select {
      margin-left: 0; }
      .viewFilter .rightView .tabs.select li {
        width: 100%;
        display: none; }
        .viewFilter .rightView .tabs.select li:first-child {
          display: block; }
        .viewFilter .rightView .tabs.select li:focus {
          display: block; } }

.adminSidebar {
  position: fixed;
  width: 100px;
  height: 100%;
  background-color: #009ef1;
  box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
  z-index: 3;
  transition: transform ease .5s;
  transform: translateX(-100%); }
  .adminSidebar .logo {
    box-shadow: inset 0 0 10px rgba(0, 158, 241, 0.0784314);
    padding: 17px 35px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    background-color: #fff;
    max-width: 330px;
    height: 100px;
    align-items: center; }
  .adminSidebar .sidebar-wrapper .sidebar-menu {
    padding: 25px 0;
    height: calc(100vh - 100px);
    overflow: auto; }
    .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item {
      min-width: 100%;
      margin: 5px 0;
      position: relative;
      transition: .3s color ease-in-out; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item .nav-link {
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        padding: 5px 18px 5px 38px;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        min-height: 64px; }
        .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item .nav-link i,
        .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item .nav-link img {
          font-size: 18px;
          margin-right: 20px; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item::before {
        content: '';
        background: linear-gradient(-35deg, #009ef1, #fff);
        transition: .3s color ease-in-out;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item::after {
        background-color: #fff;
        transition: .3s color ease-in-out;
        content: '';
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:hover::before, .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:focus::before {
        opacity: .4;
        transition: .3s color ease-in-out; }
      .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:hover::after, .adminSidebar .sidebar-wrapper .sidebar-menu .nav-item:focus::after {
        opacity: 1;
        transition: .3s color ease-in-out; }
  .adminSidebar.show {
    transform: translateX(0%);
    transition: transform ease .5s;
    width: 315px; }

.admin-header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: solid 1px #f1f1f1;
  background-color: #fff;
  box-shadow: inset 0 0 10px rgba(0, 158, 241, 0.0784314);
  z-index: 2;
  transition: transform ease .5s;
  transform: translateX(0); }
  .admin-header .spaceLogo {
    max-width: 100px;
    box-shadow: inset 0 0 10px rgba(0, 158, 241, 0.0784314);
    border-right: solid 1px #f1f1f1; }
    @media screen and (max-width: 768px) {
      .admin-header .spaceLogo {
        border: 0;
        box-shadow: none; } }
    .admin-header .spaceLogo button {
      outline: none;
      box-shadow: none;
      cursor: pointer; }
      .admin-header .spaceLogo button:hover, .admin-header .spaceLogo button:focus, .admin-header .spaceLogo button:active {
        background-color: transparent;
        border: 0;
        box-shadow: none;
        outline: none; }
  .admin-header .searchBar .serachBlock {
    padding: 18px 0 13px; }
    .admin-header .searchBar .serachBlock .form-control {
      background-image: url("../img/icon/iconSearch.png");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: left center;
      border-radius: 0;
      border: 0;
      color: #bfc5d1;
      font-size: 18px;
      padding: 0 40px;
      outline: none; }
      .admin-header .searchBar .serachBlock .form-control:focus {
        box-shadow: none; }
  .admin-header .nav {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    color: #bfc5d1; }
    .admin-header .nav li {
      padding: 15px 30px; }
      .admin-header .nav li.notification {
        border-left: solid 1px #f1f1f1;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #bfc5d1; }
        .admin-header .nav li.notification a {
          color: #bfc5d1;
          position: relative; }
          .admin-header .nav li.notification a i {
            font-size: 26px; }
            @media screen and (max-width: 768px) {
              .admin-header .nav li.notification a i {
                font-size: 18px; } }
          .admin-header .nav li.notification a .notification-counter {
            width: 13px;
            height: 13px;
            border: solid 3px #009ef1;
            border-radius: 50%;
            position: absolute;
            top: -13px;
            animation: .9s infinite beatHeart; }
      .admin-header .nav li.avatar {
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        border-left: solid 1px #f1f1f1;
        box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314); }
        .admin-header .nav li.avatar a {
          color: #000; }
          .admin-header .nav li.avatar a img {
            box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
            border-radius: 50%; }
            @media screen and (max-width: 768px) {
              .admin-header .nav li.avatar a img {
                max-width: 40px;
                margin-right: 8px; } }
          .admin-header .nav li.avatar a .avatarName {
            padding: 0 10px !important;
            color: #000 !important; }
            @media screen and (max-width: 768px) {
              .admin-header .nav li.avatar a .avatarName {
                display: none; } }
          .admin-header .nav li.avatar a::after {
            content: '';
            display: inline-flex;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid #bfc5d1; }
          .admin-header .nav li.avatar a:hover {
            color: #009ef1; }

.show-nav .admin-header {
  transition: transform ease .5s;
  transform: translateX(315px); }

.table thead th {
  color: #009ef1;
  border: 0;
  font-size: 14px;
  font-weight: 400; }
  .table thead th:last-child {
    text-align: center; }

.table tbody tr {
  position: relative; }
  .table tbody tr td {
    font-size: 15px;
    font-weight: 400;
    vertical-align: middle;
    border: 0;
    position: relative; }
    .table tbody tr td .userInfo {
      display: -ms-flexbox;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 768px) {
        .table tbody tr td .userInfo {
          display: inherit; } }
      .table tbody tr td .userInfo .avatarImg {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 400;
        margin-right: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center; }
    .table tbody tr td .iconSocial li {
      border: solid 1px #bfc5d1;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s color ease-in-out;
      margin: 0 5px; }
      .table tbody tr td .iconSocial li a {
        text-decoration: none; }
        .table tbody tr td .iconSocial li a img {
          display: flex; }
      .table tbody tr td .iconSocial li:hover {
        box-shadow: 0 0 5px #009ef1; }
    .table tbody tr td:last-child {
      text-align: center;
      color: #bfc5d1; }

.tableViewContent {
  padding-top: 50px; }
  .tableViewContent .viewGroup {
    padding: 0 15px; }
    .tableViewContent .viewGroup .viewHeader {
      margin-bottom: 25px;
      padding: 0 15px; }
      .tableViewContent .viewGroup .viewHeader .headCTop {
        color: #009ef1;
        border: 0;
        font-size: 14px;
        font-weight: 400; }
        .tableViewContent .viewGroup .viewHeader .headCTop:last-child {
          text-align: center; }
    .tableViewContent .viewGroup .viewContent .row {
      position: relative;
      padding: 25px 15px;
      align-items: center;
      border: solid 1px #f1f1f1;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 0 15px rgba(0, 158, 241, 0.0784314);
      margin-top: 9px;
      margin-bottom: 9px; }
      .tableViewContent .viewGroup .viewContent .row .headTop {
        font-size: 15px;
        font-weight: 400;
        vertical-align: middle;
        border: 0;
        position: relative; }
        .tableViewContent .viewGroup .viewContent .row .headTop .userInfo {
          display: -ms-flexbox;
          display: flex;
          align-items: center; }
          .tableViewContent .viewGroup .viewContent .row .headTop .userInfo .avatarImg {
            min-width: 65px;
            height: 65px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 158, 241, 0.0784314);
            color: #fff;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 400;
            margin-right: 20px;
            display: inline-flex;
            justify-content: center;
            align-items: center; }
        .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li {
          border: solid 1px #bfc5d1;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: .3s color ease-in-out;
          margin: 0 5px; }
          .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li a {
            text-decoration: none; }
            .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li a img {
              display: flex; }
          .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li:hover {
            box-shadow: 0 0 5px #009ef1; }
          @media screen and (max-width: 991px) {
            .tableViewContent .viewGroup .viewContent .row .headTop .iconSocial li {
              margin-bottom: 5px; } }
        .tableViewContent .viewGroup .viewContent .row .headTop:last-child {
          text-align: center;
          color: #bfc5d1; }
        @media screen and (max-width: 768px) {
          .tableViewContent .viewGroup .viewContent .row .headTop {
            padding-top: 5px;
            padding-bottom: 5px; }
            .tableViewContent .viewGroup .viewContent .row .headTop .icon {
              color: #009ef1;
              font-size: 20px;
              margin-right: 10px; }
            .tableViewContent .viewGroup .viewContent .row .headTop.ellipDropdown {
              position: absolute;
              right: 10px;
              top: 10px;
              font-size: 22px;
              width: auto;
              z-index: 1; } }
