//
// Voltaire - _custom.scss
//

.contactsearch {
  position: relative;
  .form-control {
    height: 50px;
    padding: 10px 60px 10px 15px;
    box-shadow: 0 0 10px $voltaire-shadow;
    border: 0;
    border-radius: 35px;
  }
  .form-action {
    position: absolute;
    right: 0;
    top: 0;
    .btn {
      background-color: $voltaire;
      border: 0;
      border-radius: 50%;
      min-width: 50px;
      max-width: 50px;
      width: 50px;
      height: 50px;
      justify-content: center;
    }
  }
}
.viewFilter {
  .leftView {
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    .navcheck {
      li {
        a {
        display: inline-flex;
        margin-right: 15px;
        color: $gray-base8;
        font-weight: 400;
          span {
            width: 25px;
            height: 25px;
            border-radius: 5px;
            border: solid 2px $white1;
            display: -ms-flexbox;
            display: flex;
            margin-right: 10px;
            position: relative;
            transition: .5s color ease-in-out;
            &::before {
              content: '';
              width: 12px;
              height: 12px;
              position: absolute;
              left: 5px;
              top: 4px;
              background-color: $voltaire;
              opacity: 0;
            }
          }
          &:hover,
          &:focus,
          &.active {
            color: $voltaire;
            span {
              border-color: $voltaire;
              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .rightView {
    .tabs {
      height: 50px;
      box-shadow: 0 0 10px $voltaire-shadow;
      border: solid 1px $white1;
      border-radius: 35px;
      background-color: $white;
      margin-left: auto;
      li {
        a {
          min-width: 10px;
          height: 50px;
          display: flex;
          padding: 0 40px;
          margin: 0 -2px;
          justify-content: center;
          line-height: 50px;
          border-radius: 35px;
          font-size: 16px;
          font-weight: 700;
          color: $gray-base7;
          &:hover,
          &:focus {
            background: linear-gradient(-35deg, $voltaire, $voltaire2);
            color: $white;
          }
          @media screen and (max-width: 600px) {
            padding: 0 20px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        &.select {
          margin-left: 0;
          li {
            width: 100%;
            display: none;
            &:first-child {
              display: block;
            }
            &:focus {
              display: block;
            }
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      &.dashtab {
        .tabs {
          li {
            &:first-child {
              a {
                border-radius: 35px 0 0 35px;
                line-height: 48px;
                height: 48px;
              }
            }
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5),
            &:nth-child(6) {
              a {
                border-radius: 0;
                line-height: 48px;
                height: 48px;
              }
            }
            &:last-child {
              a {
                border-radius: 0 35px 35px 0;
                line-height: 48px;
                height: 48px;
              }
            }
          }
        }
      }
    }
  }
}
.feedbackUser {
  .headTop {
    align-items: center;
    min-height: 30px;
    margin-bottom: 20px;
    .titleNote {
      font-size: 14px;
    }
    .form-group {
      overflow: hidden;
      .form-search {
        border: 0;
        box-shadow: none;
        background: url('../img/icon/iconSearch.png') no-repeat left center transparent;
        background-size: 15px;
        padding-left: 30px;
        max-width: 100px;
        font-size: 14px;
        transition: transform ease .5s;
        transform: translateX(20%);
        &:focus,
        &:checked {
        max-width: 100%;
        transition: transform ease .5s;
        transform: translateX(0);
        }
      }
    }
  }
  .headContent {
    ul {
      min-height: calc(98vh - 150px);
      box-shadow: 0 0 15px $voltaire-shadow;
      li {
        border-bottom: solid 1px $border;
        position: relative;
        a {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          align-items: center;
          color: $white;
          font-size: 16px;
          padding: 15px;
          position: relative;
          z-index: 3;
          .avtar {
            width: 55px;
            height: 55px;
            border-radius: 55px;
            margin-right: 10px;
            box-shadow: 0 0 10px $voltaire-shadow;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 18px;
            img {
              max-width: 100%;
              height: auto;
            }
            &.cPurple {
              background: $voltairepurple;
            }
            &.cGreen {
              background: $voltairegreen;
            }
          }
          .avtarName {
            color: $voltaire6;
          }
        }
        &:last-child {
          border: 0;
        }
        &::before {
          content: '';
          background-color: $white;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0 15px $voltaire-shadow;
          -webkit-transition: all .3s ease-in-out 0s;
          -webkit-transform: scale(1);
          -ms-transition: all .3s ease-in-out 0s;
          -ms-transform: scale(1);
          -moz-transition: all .3s ease-in-out 0s;
          -moz-transform: scale(1);
          transition: all .3s ease-in-out 0s;
          transform: scale(1);
        }
        &:hover,
        &:focus {
          &::before {
            -webkit-transition: all .3s ease-in-out 0s;
            -webkit-transform: scale(1.05);
            -ms-transition: all .3s ease-in-out 0s;
            -ms-transform: scale(1.05);
            -moz-transition: all .3s ease-in-out 0s;
            -moz-transform: scale(1.05);
            transition: all .3s ease-in-out 0s;
            transform: scale(1.05);
            z-index: 2;
          }
        }
      }
    }
  }
}
.feedback {
  .pageTitle  {
    margin-bottom: 20px;
    min-height: 30px;
  }
}
.voltaireFeedback {
  border: .1rem solid $white1;
  border-radius: 5px;
  box-shadow: 0 0 15px $voltaire-shadow;
  background-color: $white;
  padding: 20px;
  .form-group {
    margin-bottom: 2rem;
    .label {
      margin-bottom: .9rem;
      font-size: 14px;
      color: $voltaire3;
    }
  }
}
.emailview {
  background-color: $white;
  border: solid .1rem $white1;
  border-radius: 5px;
  box-shadow: 0 0 15px $voltaire-shadow;
  height: calc(100vh - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (max-width: 768px) {
    height: auto;
  }
  .table {
    margin: 0;
    tr {
      background-color: $white;
      transition: .3s color ease-in-out;
      td {
        border-bottom: solid .05rem $white1;
        font-size: 14px;
        position: relative;
        padding: .95rem .75rem;
        color: $gray-dark;
        .boxround {
          border: solid .1rem $white1;
          border-radius: 5px;
          background-color: $white;
          width: 23px;
          height: 23px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }
        &.title {
          font-weight: bold;
        }
        &.description {
          font-weight: bold;
          span {
            font-weight: 400;
            color: $gray;
          }
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        &.dropdown {
          text-align: center;
          color: $gray-base6;
          button {
            border: 0;
            background: none;
            padding: 0;
            color: $gray-base6;
          }
        }
        &:first-child {
          &::before {
            content: '';
            background-color: $white;
            width: 3px;
            height: 70%;
            position: absolute;
            left: 0;
            top: 15%;
          }
        }
      }
      &:hover,
      &:focus,
      &.active {
        background-color: $voltaire;
        cursor: pointer;
        td {
          color: $white;
          border-bottom: solid .05rem $voltaire;
          button {
            color: $white;
          }
          &.description {
            span {
              color: $white;
            }
          }
        }
      }
      &:last-child {
        td {
          border: 0;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .email-reply {
    .pageTitle {
      margin: 5px 0 10px;
      padding: 0;
    }
  }
}
.taskWeek {
  position: relative;
  padding: 0 15px;
  min-width: 150px;
  text-align: center;
  color: $voltaire;
  font-weight: bold;
  .control {
    position: absolute;
    top: 0;
    left: 0;
    color: $voltaire7;
    &.next {
      left: auto;
      right: 0;
    }
    &:hover,
    &:focus {
      color: $voltaire;
    }
  }
}
.addTask {
  .btn-plus {
    justify-content: left;
    position: relative;
    padding-left: 25px;
    padding-right: 65px;
    color: $voltaire;
    &::after {
      content: '+';
      background-color: $voltaire;
      box-shadow: 0 0 20px $voltaire-opcity;
      border-radius: 50%;
      width: 49px;
      height: 49px;
      position: absolute;
      right: -2px;
      text-align: center;
      line-height: 47px;
      color: $white;
      font-size: 37px;
    }
    &:hover,
    &:focus {
      background-color: $voltaire !important;
      border-color: $voltaire !important;
      color: $white;
    }
  }
  @media screen and (max-width: 768px) {
    margin-top: 15px;
  }
}
.viewTask {
  .view-row {
    box-shadow: 0 0 15px $voltaire-shadow;
    border: solid .1rem $white1;
    background-color: $white;
    padding: 1.8rem 1.5rem;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    transition: .3s color ease-in-out;
    .view-title {
      position: relative;
      padding-left: 50px;
      color: $voltaire;
      font-weight: bold;
      &::before {
        content: '';
        border: solid .1rem $white1;
        border-radius: 5px;
        background-color: $white;
        width: 23px;
        height: 23px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        position: absolute;
        left: 12px;
        top: 0;
      }
    }
    @media screen and (max-width: 768px) {
      .view-data {
        padding-left: 50px;
      }
    }
    &:hover,
    &:focus,
    &.active {
      .view-title {
        &::before {
          content: '';
          background-image: url('../img/icon/iconcheck.png');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 60%;
          border: solid .1rem $voltaire;
          color: $voltaire;
          justify-content: center;
        }
      }
    }
  }
}
.calendar {
  background-color: $white;
  box-shadow: 0 0 15px $voltaire-shadow;
  padding-bottom: 15px;
  .calendarTop {
    background-color: $voltaire;
    color: $white;
    padding: 1rem 2.5rem;
    border-radius: 5px 5px 0 0;
    position: relative;
    text-align: center;
    .control {
      position: absolute;
      left: 1.8rem;
      top: 1rem;
      color: $white;
      outline: none;
      font-size: 14px;
      font-weight: bold;
      width: 25px;
      height: 25px;
      line-height: 23px;
      border: solid .1rem transparent;
      border-radius: 50%;
      &.next {
        left: auto;
        right: 1.8rem;
      }
      &:hover,
      &:focus {
        border-color: $white;
      }
    }
  }
  table {
    margin: 0;
    tr {
      th {
        text-align: center;
        font-size: 14px !important;
        color: $voltaire;
        padding: 1.2rem .55rem .5rem;
      }
      td {
        text-align: center;
        font-size: 14px;
        color: $gray;
        padding: .75rem .55rem;
        .number {
          width: 30px;
          height: 30px;
          display: -ms-flexbox;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $gray;
          margin: 0 auto;
          &.today {
            background-color: $voltaire;
            border-radius: 50%;
            color: $white;
          }
          &.current {
            background-color: $voltaire;
            border-radius: 50%;
            color: $white;
          }
          &.nextOne {
            background-color: $voltaireorange;
            border-radius: 50%;
            color: $white;
          }
          &.nextTwo {
            background-color: $voltairegreen;
            border-radius: 50%;
            color: $white;
          }
          &.nextThree {
            background-color: $voltairered;
            border-radius: 50%;
            color: $white;
          }
          &.nextFour {
            background-color: $voltairepurple;
            border-radius: 50%;
            color: $white;
          }
        }
      }
    }
  }
}
.meetingview {
  background-color: $white;
  box-shadow: 0 0 15px $voltaire-shadow;
  border-radius: 5px;
  border: solid .1rem $white1;
  padding: 2.5rem;
  padding-bottom: 0;
  @media screen and (max-width: 768px) {
    padding: 15px;
  }
}
.meetinglist {
  padding-top: 1.5rem;
  .view-row {
    box-shadow: 0 0 15px $voltaire-shadow;
    border: solid .1rem $white1;
    background-color: $white;
    padding: 1.5rem;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    transition: .3s color ease-in-out;
    .avtarImage {
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      .avtarLabel {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        margin-right: 15px;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 57px;
        img {
          border-radius: 50%;
          max-width: 57px;
          max-height: 57px;
        }
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 1.5rem;
      }
    }
    .btn {
      min-width: 150px;
    }
  }
}
.meeting-item {
  margin: 0 -2.5rem;
  @media screen and (max-width: 768px) {
    margin: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 39vh;
    overflow-y: auto;
    li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: relative;
      align-items: center;
      padding: 15px 0 15px 6.5rem;
      border-bottom: solid 1px $white1;
      @media screen and (max-width: 768px) {
        padding: 15px 0 15px 3.9rem;
      }
      .meetingdate {
        width: 48px;
        height: 48px;
        border-radius: 48px;
        text-align: center;
        line-height: 48px;
        position: absolute;
        font-size: 16px;
        left: 2.5rem;
        top: 12px;
        @media screen and (max-width: 768px) {
          left: 0;
        }
      }
      .meetingDetails {
        font-size: 15px;
        color: $voltaire6;
        font-weight: bold;
        padding-right: 15px;
        .time {
          display: -ms-flexbox;
          display: flex;
          min-width: 100%;
          font-size: 14px;
          text-transform: uppercase;
          color: $gray-base10;
        }
      }
      ul {
        margin-top: 15px;
        height: auto;
        li {
          padding-left: 0;
          border-top: solid 1px $white1;
          border-bottom: 0;
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
.todayMeetings {
  .pageHeading {
    min-height: 51px;
  }
}
.formSearchview {
  .radioButton {
    width: 20%;
    margin: 0 !important;
    padding: 8px;
    .radio-label {
      width: 100%;
      min-height: 120px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      align-content: center;
      font-size: 15px;
      margin: 0;
      span {
        min-width: 100%;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
      }
      &::before {
        border-color: $gray-base6;
      }
    }
    @media screen and (max-width: 992px) {
      width: 25%;
    }
    @media screen and (max-width: 768px) {
      width: 33.3333%;
    }
    @media screen and (max-width: 420px) {
      width: 50%;
    }
  }
  .form-control {
    border-color: $gray-base6;
    &:focus {
      border-color: $white1;
    }
  }
}