//
// Voltaire - _custom.scss
//

.contactsearch {
  position: relative;
  .form-control {
    height: 50px;
    padding: 10px 60px 10px 15px;
    box-shadow: 0 0 10px $voltaire-shadow;
    border: 0;
    border-radius: 35px;
  }
  .form-action {
    position: absolute;
    right: 0;
    top: 0;
    .btn {
      background-color: $voltaire;
      border: 0;
      border-radius: 50%;
      min-width: 50px;
      max-width: 50px;
      width: 50px;
      height: 50px;
      justify-content: center;
    }
  }
}
.viewFilter {
  .leftView {
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    .navcheck {
      li {
        a {
        display: inline-flex;
        margin-right: 15px;
        color: $gray-base8;
        font-weight: 400;
          span {
            width: 25px;
            height: 25px;
            border-radius: 5px;
            border: solid 2px $white1;
            display: -ms-flexbox;
            display: flex;
            margin-right: 10px;
            position: relative;
            transition: .5s color ease-in-out;
            &::before {
              content: '';
              width: 12px;
              height: 12px;
              position: absolute;
              left: 5px;
              top: 4px;
              background-color: $voltaire;
              opacity: 0;
            }
          }
          &:hover,
          &:focus,
          &.active {
            color: $voltaire;
            span {
              border-color: $voltaire;
              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
  .rightView {
    .tabs {
      height: 50px;
      box-shadow: 0 0 10px $voltaire-shadow;
      border: solid 1px $white1;
      border-radius: 35px;
      background-color: $white;
      margin-left: auto;
      li {
        a {
          min-width: 10px;
          height: 50px;
          display: flex;
          padding: 0 50px;
          margin: 0 -2px;
          justify-content: center;
          line-height: 50px;
          border-radius: 35px;
          font-size: 16px;
          font-weight: 700;
          color: $gray-base7;
          &:hover,
          &:focus {
            background: linear-gradient(-35deg, $voltaire, $voltaire2);
            color: $white;
          }
          @media screen and (max-width: 600px) {
            padding: 0 20px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        &.select {
          margin-left: 0;
          li {
            width: 100%;
            display: none;
            &:first-child {
              display: block;
            }
            &:focus {
              display: block;
            }
          }
        }
      }
    }
  }
}
.feedbackUser {
  .headTop {
    align-items: center;
    min-height: 30px;
    margin-bottom: 20px;
    .titleNote {
      font-size: 14px;
    }
    .form-group {
      overflow: hidden;
      .form-search {
        border: 0;
        box-shadow: none;
        background: url('../img/icon/iconSearch.png') no-repeat left center transparent;
        background-size: 15px;
        padding-left: 30px;
        max-width: 100px;
        font-size: 14px;
        transition: transform ease .5s;
        transform: translateX(20%);
        &:focus,
        &:checked {
        max-width: 100%;
        transition: transform ease .5s;
        transform: translateX(0);
        }
      }
    }
  }
  .headContent {
    ul {
      min-height: calc(98vh - 150px);
      box-shadow: 0 0 15px $voltaire-shadow;
      li {
        border-bottom: solid 1px $border;
        position: relative;
        a {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          align-items: center;
          color: $white;
          font-size: 16px;
          padding: 15px;
          position: relative;
          z-index: 3;
          .avtar {
            width: 55px;
            height: 55px;
            border-radius: 55px;
            margin-right: 10px;
            box-shadow: 0 0 10px $voltaire-shadow;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 18px;
            img {
              max-width: 100%;
              height: auto;
            }
            &.cPurple {
              background: $voltairepurple;
            }
            &.cGreen {
              background: $voltairegreen;
            }
          }
          .avtarName {
            color: $voltaire6;
          }
        }
        &:last-child {
          border: 0;
        }
        &::before {
          content: '';
          background-color: $white;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0 15px $voltaire-shadow;
          -webkit-transition: all .3s ease-in-out 0s;
          -webkit-transform: scale(1);
          -ms-transition: all .3s ease-in-out 0s;
          -ms-transform: scale(1);
          -moz-transition: all .3s ease-in-out 0s;
          -moz-transform: scale(1);
          transition: all .3s ease-in-out 0s;
          transform: scale(1);
        }
        &:hover,
        &:focus {
          &::before {
            -webkit-transition: all .3s ease-in-out 0s;
            -webkit-transform: scale(1.05);
            -ms-transition: all .3s ease-in-out 0s;
            -ms-transform: scale(1.05);
            -moz-transition: all .3s ease-in-out 0s;
            -moz-transform: scale(1.05);
            transition: all .3s ease-in-out 0s;
            transform: scale(1.05);
            z-index: 2;
          }
        }
      }
    }
  }
}
.feedback {
  .pageTitle  {
    margin-bottom: 20px;
    min-height: 30px;
  }
}
.voltaireFeedback {
  border: .1rem solid $white1;
  border-radius: 5px;
  box-shadow: 0 0 15px $voltaire-shadow;
  background-color: $white;
  padding: 20px;
  .form-group {
    margin-bottom: 2rem;
    .label {
      margin-bottom: .9rem;
      font-size: 14px;
      color: $voltaire3;
    }
  }
}