//
// Voltaire - _dashboard.scss
//

.voltaireHead {
  .voltaireDate {
    .current {
      font-size: 14px;
      color: $gray-base11;
    }
    .title {
      font-size: 1.2rem;
      margin: 0;
      padding-top: 4px;
      color: $voltaire1;
    }
  }
}
.voltaireCounter {
  .card {
    background-color: $white;
    border-radius: 5px;
    border: solid .1rem $white1;
    box-shadow: 0 0 10px $voltaire-shadow;
    .card-body {
      color: $voltaire1;
      .round {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        border-style: solid;
        border-width: 1px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        &.green {
          border-color: $voltairegreen;
        }
        &.purple {
          border-color: $voltairepurple;
        }
        &.orange {
          border-color: $voltaireorange;
        }
        &.blue {
          border-color: $voltaire;
        }
        &.red {
          border-color: $voltairered;
        }
      }
      h5 {
        font-size: 1.4rem;
        color: $voltaire1;
      }
    }
  }
}
.voltaireBody {
  h2 {
    &.title {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }
  }
  .feedbox {
    border-radius: 5px;
    border: solid .1rem $white1;
    overflow-y: auto;
    height: calc(69vh - 1px);
    .card {
      border: 0;
      box-shadow: 0 0 15px $voltaire-shadow;
      border-radius: 5px;
      .card-body {
        font-size: 14px;
        font-weight: 300;
        color: $voltaire6;
        padding-bottom: 0;
        .dTime {
          color: $gray-base6;
          font-size: 13px;
        }
        .thumb {
          width: 55px;
          height: 55px;
          border-radius: 55px;
          text-align: center;
          line-height: 55px;
          font-size: 16px;
          font-weight: 500;
          text-transform: uppercase;
          color: $white;
          box-shadow: 0 0 15px $voltaire-shadow;
          img {
            width: 55px;
            height: 55px;
          }
          &.green {
            background-color: $voltairegreen;
          }
          &.orange {
            background-color: $voltaireorange;
          }
        }
        .name {
          font-size: 14px;
          font-weight: 400;
        }
        .iconControl {
          margin: 0 -1.25rem;
          position: relative;
          margin-top: 5px;
          padding-top: 15px;
          padding-bottom: 15px;
          border-top: solid .1rem $white1;
          .nav {
            li {
              @media screen and (max-width: 768px) {
                max-width: 33.3333%;
                width: 33.3333%;
                flex: 0 0 33.3333%;
                margin-bottom: 15px;
              }
              a {
                text-indent: -9999px;
                width: 30px;
                min-height: 25px;
                display: -ms-flexbox;
                display: flex;
                &.iconfacebook {
                  background-image: url('../img/contactInsights/iconfacebook.png');
                  background-color: transparent;
                  background-repeat: no-repeat;
                  background-position: left center;
                  &:hover,
                  &:focus {
                    background-image: url('../img/contactInsights/iconfacebookhover.png');
                  }
                }
                &.iconcalendar {
                  background-image: url('../img/contactInsights/iconcal.png');
                  background-color: transparent;
                  background-repeat: no-repeat;
                  background-position: center;
                  margin: 0 auto;
                  &:hover,
                  &:focus {
                    background-image: url('../img/contactInsights/iconcalhover.png');
                  }
                }
                &.iconeye {
                  background-image: url('../img/contactInsights/iconeye.png');
                  background-color: transparent;
                  background-repeat: no-repeat;
                  background-position: center;
                  margin: 0 auto;
                  &:hover,
                  &:focus {
                    background-image: url('../img/contactInsights/iconeyehover.png');
                  }
                }
                &.iconmail {
                  background-image: url('../img/contactInsights/iconmail.png');
                  background-color: transparent;
                  background-repeat: no-repeat;
                  background-position: center;
                  margin: 0 auto;
                  &:hover,
                  &:focus {
                    background-image: url('../img/contactInsights/iconmailhover.png');
                  }
                }
                &.icongifts {
                  background-image: url('../img/contactInsights/icongift.png');
                  background-color: transparent;
                  background-repeat: no-repeat;
                  background-position: center;
                  margin: 0 auto;
                  &:hover,
                  &:focus {
                    background-image: url('../img/contactInsights/icongifthover.png');
                  }
                }
                &.iconsetting {
                  background-image: url('../img/contactInsights/iconsetting.png');
                  background-color: transparent;
                  background-repeat: no-repeat;
                  background-position: center;
                  margin-left: auto;
                  &:hover,
                  &:focus {
                    background-image: url('../img/contactInsights/iconsettinghover.png');
                  }
                }
                @media screen and (max-width: 768px) {
                  margin: 0 auto;
                }
              }
            }
          }
        }
      }
    }
  }
  .taskbox {
    .taskstatus {
      background-color: $white4;
      border-radius: 3px;
      li {
        padding: 4px 15px 4px 35px;
        color: $voltaire8;
        font-size: 14px;
        position: relative;
        &::before {
          content: '';
          width: 10px;
          height: 10px;
          border-radius: 10px;
          position: absolute;
          left: 15px;
          top: 10px;
        }
        &.closed {
          &::before {
            background-color: $voltaireorange;
          }
        }
        &.active {
          &::before {
            background-color: $voltaire;
          }
        }
      }
    }
    .taskContent {
      background-color: $white;
      box-shadow: 0 0 15px $voltaire-shadow;
      overflow-y: auto;
      height: calc(69vh - 1px);
      .card {
        border: 0;
        background-color: transparent;
        border-radius: 0;
        .card-body {
          padding: 15px 0;
          border-bottom: solid 1px $white1;
          .flex-wrap {
            padding: 0 15px;
            .thumb {
              width: 55px;
              height: 55px;
              border-radius: 55px;
              text-align: center;
              line-height: 55px;
              font-size: 16px;
              font-weight: 500;
              text-transform: uppercase;
              color: $white;
              box-shadow: 0 0 15px $voltaire-shadow;
              img {
                width: 55px;
                height: 55px;
              }
              &.green {
                background-color: $voltairegreen;
              }
              &.orange {
                background-color: $voltaireorange;
              }
            }
            .name {
              font-size: 14px;
              font-weight: 400;
            }
            .dTime {
              color: $gray-base6;
              font-size: 13px;
              position: relative;
              .round {
                position: relative;
                padding-left: 20px;
                &::before {
                  content: '';
                  width: 10px;
                  height: 10px;
                  border-radius: 10px;
                  position: absolute;
                  left: 0;
                  top: 5px;
                }
                &.closed {
                  &::before {
                    background-color: $voltaireorange;
                  }
                }
                &.active {
                  &::before {
                    background-color: $voltaire;
                  }
                }
              }
            }
          }
          .content {
            padding: 15px 15px 0;
            font-size: 14px;
            color: $voltaire6;
            font-weight: 300;
            p {
              margin: 0;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .meetingbox {
    .cardmeeting {
      background-color: $white;
      box-shadow: 0 0 15px $voltaire-shadow;
      .list {
        list-style: none;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        height: calc(69vh - 100px);
        li {
          border-bottom: solid 1px $white1;
          padding: 15px 20px;
          .time {
            color: $gray-base10;
            font-size: 13px;
            font-weight: 600;
          }
          .title {
            color: $voltaire6;
            font-weight: 600;
            padding-top: 5px;
            padding-bottom: 10px;
            line-height: normal;
          }
          .schedule {
            .user {
              width: 40px;
              height: 40px;
              border-radius: 40px;
              background-color: $gray-base12;
              border: solid 4px $white;
              box-shadow: 0 0 10px $voltaire-shadow;
              img {
                min-width: 100%;
                max-width: 100%;
                border-radius: 50%;
              }
              &.group {
                margin-left: -12px;
              }
              &.plus {
                margin-left: -12px;
                a {
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  font-size: 30px;
                  font-weight: bold;
                  color: $white;
                  line-height: 30px;
                }
                &:hover,
                &:focus {
                  background-color: $voltaire;
                }
              }
            }
          }
          &:last-child {
            border: 0;
          }
        }
      }
      .action {
        border-top: solid 1px $white1;
      }
    }
  }
  .angaged {
    background-color: $white;
    box-shadow: 0 0 15px $voltaire-shadow;
    overflow-y: auto;
    height: calc(62vh - 50px);
    .viewlist {
      padding: 15px;
      border-bottom: solid 1px $white1;
      .thumb {
        width: 55px;
        height: 55px;
        border-radius: 55px;
        text-align: center;
        line-height: 55px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $white;
        box-shadow: 0 0 15px $voltaire-shadow;
        margin-right: 15px;
        img {
          width: 55px;
          height: 55px;
        }
        &.green {
          background-color: $voltairegreen;
        }
        &.orange {
          background-color: $voltaireorange;
        }
        &.purple {
          background-color: $voltairepurple;
        }
        &.red {
          background-color: $voltairered;
        }
      }
    }
    .email {
      padding: 7px 0;
      font-size: 14px;
      color: $voltaire6;
    }
    .ProBar {
      position: relative;
      padding-right: 45px;
      .value {
        position: absolute;
        right: 0;
        top: -.3rem;
        color: $gray-base6;
        font-weight: bold;
        font-size: 13px;
      }
    }
  }
}
.chartCode {
  .card {
    background-color: $white;
    box-shadow: 0 0 15px $voltaire-shadow;
    min-height: calc(62vh - 50px);
    border: 0;
    border-radius: 0;
  }
  .pieChart {
    .chartview {
      text-align: center;
      position: relative;
      max-width: 258px;
      margin: 0 auto;
      .statusBar {
        position: absolute;
        top: 75px;
        left: -190px;
        min-width: 180px;
        font-size: 14px;
        padding: 15px;
        background-color: $white;
        border: solid .1rem $voltaire;
        border-radius: 3px;
        letter-spacing: 1px;
        opacity: 0;
        li {
          padding-bottom: 5px;
          &:last-child {
            padding: 0;
          }
          .count {
            color: $voltaire;
            font-weight: bold;
          }
        }
        &::before {
          position: absolute;
          right: -12px;
          top: -.08rem;
          content: '';
          background: url('../img/dashboard/bordercurav.png') no-repeat 0 0;
          width: 12px;
          height: 13px;
        }
      }
      img {
        max-width: 100%;
        height: auto;
      }
      &:hover {
        .statusBar {
          opacity: 1;
        }
      }
    }
    .pieDetails {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        color: $gray;
        font-size: 14px;
        position: relative;
        padding-left: 30px;
        margin-bottom: 5px;
        &::before {
          content: '';
          width: 16px;
          height: 16px;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $voltaire;
          border: solid 3px $white1;
          border-radius: 16px;
          z-index: 2;
        }
        &.roundgreen {
          &::before {
            background-color: $voltairegreen;
            border-color: $voltairegreen-light;
          }
        }
        &.roundred {
          &::before {
            background-color: $voltairered;
            border-color: $voltairered-light;
          }
        }
        &.roundorange {
          &::before {
            background-color: $voltaireorange;
            border-color: $voltaireorange-light;
          }
        }
        &.roundblue {
          &::before {
            background-color: $voltaire;
            border-color: $voltaireblue-light;
          }
        }
        &.roundpurple {
          &::before {
            background-color: $voltairepurple;
            border-color: $voltairepurple-light;
          }
        }
      }
    }
  }
}
.voltaireTusers {
  background-color: $white;
  box-shadow: 0 0 15px $voltaire-shadow;
  border: solid .1rem $white1;
  border-radius: 5px;
  .navTop {
    .nav {
      border-bottom: solid .1rem $white1;
      li {
        padding: 0;
        a {
          color: $gray-base7;
          font-size: 14px;
          padding: 15px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          justify-content: center;
          &:hover,
          &:focus {
            color: $voltaire;
          }
        }
      }
    }
  }
  .result {
    position: relative;
    padding-top: 18vh;
    img {
      min-width: 100%;
      max-width: 100%;
      height: auto;
    }
    .counts {
      background-color: $white;
      box-shadow: 0 0 15px $voltaire-shadow;
      position: absolute;
      left: 30px;
      top: 30px;
      padding: 15px 30px;
      text-align: center;
      font-size: 17px;
      font-weight: 600;
      span {
        font-size: 13px;
        color: $gray-base7;
      }
    }
    .startDate {
      position: absolute;
      left: 15px;
      bottom: 15px;
      color: $gray;
      font-size: 14px;
      font-weight: 600;
    }
    .endDate {
      position: absolute;
      right: 15px;
      bottom: 15px;
      color: $gray;
      font-size: 14px;
      font-weight: 600;
    }
  }
}