//
// Voltaire - _global.scss
//

html {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: $lato;
  font-weight: normal;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: $voltaire;
  background-color: $white2;
}

p {
  line-height: 1.75;
}

a {
  transition: .3s color ease-in-out;
  color: $voltaire;

  &:hover {
    color: darken($voltaire, 10%);
    text-decoration: none;
  }
}

.text-primary {
  color: $voltaire !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $lato;
}

strong {
  font-weight: 700;
}


// Button Styles

.btn {
  font-family: $lato;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: .1rem;
  padding: 10px;
  white-space: normal;
  word-wrap: normal;
  box-sizing: border-box;
  border-radius: 0;
  transition: .3s color ease-in-out, .3s background-color ease-in-out, .3s border-color ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: left;

  i {
    display: inline-block;
    font-size: 20px;
    padding: 0 5px;
  }
}

.btn-primary {
  background-color: $voltaire;
  border-color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($voltaire, 7.5%) !important;
    border-color: darken($voltaire, 7.5%) !important;
    color: $white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}

.btn-alt {
  background: linear-gradient(-35deg, $voltaire, $voltaire2);
  border: 0;
  color: $white !important;

  &:active,
  &:focus,
  &:hover {
    background: linear-gradient(35deg, $voltaire, $voltaire2);
    border: 0;
    color: $white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}
.btn-alt-clear {
  background-color: transparent;
  border-color: $voltaire;
  color: $voltaire !important;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($voltaire, 7.5%) !important;
    border-color: darken($voltaire, 7.5%) !important;
    color: $white !important;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}
.btn-blue-dark {
  background-color: $voltaire;
  border-color: $voltaire;
  color: $white;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($voltaire, 7.5%) !important;
    border-color: darken($voltaire, 7.5%) !important;
    color: $white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}
.btn-clear {
  background-color: transparent;
  border-color: $white;
  color: $white;

  &:active,
  &:focus,
  &:hover {
    background-color: $white;
    border-color: $white;
    color: $voltaire;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}

.btn-sold {
  background-color: $voltaire !important;
  border-color: $voltaire !important;
  color: $white;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire !important;
    border-color: $voltaire !important;
    color: $white;
  }
}

.btn-sky {
  background-color: $voltaire;
  border-color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
  }
}

.btn-grey {
  background-color: $gray-base3;
  border-color: $gray-base3;
  color: $gray-base4;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
    color: $white;
  }
}

.btn-dark {
  background-color: $voltaire;
  border-color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
  }
}

.btn-transparent {
  background-color: transparent;
  border-color: $voltaire;
  color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
    color: $white;
  }
}

.btn-switch {
  &.toggle-yes {
    background-color: $voltaire;
    color: $white;
  }

  &.toggle-no {
    background-color: $voltaire;
    color: $white;
  }

  &.toggle-inactive {
    background-color: $voltaire;
    color: $gray;
  }
}

.btn-ico {
  margin: 15px 0 0;
  border: 1px solid transparent !important;
  background-color: lighten($voltaire, 10%);

  &:hover {
    background-color: $voltaire;

    i {
      background-color: lighten($voltaire, 10%);
    }
  }

  i {
    display: inline-block;
    background-color: $voltaire;
    padding: 15px !important;
    margin: 0 10px 0 0;
    transition: .3s background-color ease-in-out, .3s color ease-in-out;
  }

  .file-size {
    color: $voltaire;
  }
}
// Highlight color customization

::-moz-selection {
  background: $voltaire;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $voltaire;
  color: $white;
  text-shadow: none;
}

img {
  ::selection {
    background: transparent;
  }

  ::-moz-selection {
    background: transparent;
  }
}
.mainContent {
  padding: 140px 15px 15px;
  box-shadow: inset 0 0 15px $voltaire-shadow;
  transition: transform ease .5s;
  transform: translateX(0);
  @media screen and (max-width: 991px) {
    padding: 140px 0 15px;
  }
  @media screen and (max-width: 768px) {
    padding: 100px 0 15px;
  }
}
.show-nav {
  .mainContent {
    transition: transform ease .5s;
    transform: translateX(315px);
  }
}
.pageTitle {
  color: $voltaire1;
  font-weight: 700;
  font-size: 25px;
  margin: 5px 0 50px;
}
.bgBlue {
  background-color: $voltaire;
}
.bgGreen {
  background-color: $voltairegreen;
}
.bgOrange {
  background-color: $voltaireorange;
}