//
// Voltaire - _global.scss
//

html {
  height: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: $lato;
  font-weight: normal;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: $voltaire;
  background-color: $white2;
}

p {
  line-height: 1.75;
}

a {
  transition: .3s color ease-in-out;
  color: $voltaire;

  &:hover {
    color: darken($voltaire, 10%);
    text-decoration: none;
  }
}

.text-primary {
  color: $voltaire !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $lato;
}

strong {
  font-weight: 700;
}


// Button Styles

.btn {
  font-family: $lato;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: normal;
  padding: 12px 15px;
  white-space: normal;
  word-wrap: normal;
  box-sizing: border-box;
  border-radius: 35px;
  transition: .3s color ease-in-out, .3s background-color ease-in-out, .3s border-color ease-in-out !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 183px;
  box-shadow: 0 0 10px $voltaire-shadow;

  i {
    display: inline-block;
    font-size: 20px;
    padding: 0 5px;
  }
}

.btn-primary {
  background-color: $voltaire;
  border-color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($voltaire, 7.5%) !important;
    border-color: darken($voltaire, 7.5%) !important;
    color: $white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}

.btn-alt {
  background: linear-gradient(-35deg, $voltaire, $voltaire2);
  border: 0;
  color: $white !important;

  &:active,
  &:focus,
  &:hover {
    background: linear-gradient(35deg, $voltaire, $voltaire2);
    border: 0;
    color: $white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}
.btn-alt-clear {
  background-color: transparent;
  border-color: $voltaire;
  color: $voltaire !important;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($voltaire, 7.5%) !important;
    border-color: darken($voltaire, 7.5%) !important;
    color: $white !important;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}
.btn-blue-dark {
  background-color: $voltaire;
  border-color: $voltaire;
  color: $white;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($voltaire, 7.5%) !important;
    border-color: darken($voltaire, 7.5%) !important;
    color: $white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}
.btn-clear {
  background-color: transparent;
  border-color: $white;
  color: $white;

  &:active,
  &:focus,
  &:hover {
    background-color: $white;
    border-color: $white;
    color: $voltaire;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px lighten($voltaire, 7.5%) !important;
  }
}

.btn-sold {
  background-color: $voltaire !important;
  border-color: $voltaire !important;
  color: $white;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire !important;
    border-color: $voltaire !important;
    color: $white;
  }
}

.btn-sky {
  background-color: $voltaire;
  border-color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
  }
}

.btn-grey {
  background-color: $gray-base3;
  border-color: $gray-base3;
  color: $gray-base4;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
    color: $white;
  }
}

.btn-dark {
  background-color: $voltaire;
  border-color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
  }
}

.btn-transparent {
  background-color: transparent;
  border-color: $voltaire;
  color: $voltaire;

  &:active,
  &:focus,
  &:hover {
    background-color: $voltaire;
    border-color: $voltaire;
    color: $white;
  }
}

.btn-switch {
  &.toggle-yes {
    background-color: $voltaire;
    color: $white;
  }

  &.toggle-no {
    background-color: $voltaire;
    color: $white;
  }

  &.toggle-inactive {
    background-color: $voltaire;
    color: $gray;
  }
}

.btn-default {
  background-color: $white;
  border-color: $white1;
  color: $gray-base7;
  &:hover,
  &:focus {
    background-color: $white1;
    color: $gray-dark;
  }
}

.btn-ico {
  margin: 15px 0 0;
  border: 1px solid transparent !important;
  background-color: lighten($voltaire, 10%);

  &:hover {
    background-color: $voltaire;

    i {
      background-color: lighten($voltaire, 10%);
    }
  }

  i {
    display: inline-block;
    background-color: $voltaire;
    padding: 15px !important;
    margin: 0 10px 0 0;
    transition: .3s background-color ease-in-out, .3s color ease-in-out;
  }

  .file-size {
    color: $voltaire;
  }
}
textarea {
  min-height: 105px;
}
// Highlight color customization
.form-control {
  border: solid .1rem $white1;
  color: $form-control;
  &:focus {
    box-shadow: none;
  }
}

::-moz-selection {
  background: $voltaire;
  color: $white;
  text-shadow: none;
}

::selection {
  background: $voltaire;
  color: $white;
  text-shadow: none;
}

img {
  ::selection {
    background: transparent;
  }

  ::-moz-selection {
    background: transparent;
  }
}
.mainContent {
  padding: 140px 15px 15px;
  box-shadow: inset 0 0 15px $voltaire-shadow;
  transition: transform ease .5s;
  transform: translateX(0);
  @media screen and (min-width: 992px) {
    padding: 140px 15px 15px 330px;
    min-height: 100vh;
  }
  @media screen and (max-width: 992px) {
    padding: 140px 0 15px;
  }
  @media screen and (max-width: 768px) {
    padding: 100px 0 15px;
  }
}
.show-nav {
  .mainContent {
    transition: transform ease .5s;
    transform: translateX(315px);
  }
}
.pageTitle {
  color: $voltaire1;
  font-weight: 700;
  font-size: 25px;
  margin: 5px 0 50px;
}
.pageHeading {
  .pageTitle {
    margin-bottom: 25px;
  }
}
.bgBlue {
  background-color: $voltaire;
  color: $white;
}
.textBlue {
  color: $voltaire;
}
.bgGreen {
  background-color: $voltairegreen;
  color: $white;
}
.bgPurple {
  background-color: $voltairepurple;
  color: $white;
}
.bgOrange {
  background-color: $voltaireorange;
  color: $white;
}
.bgRed {
  background-color: $voltairered;
  color: $white;
}
.voltaire-shadow-outset {
  box-shadow: 0 0 15px $voltaire-shadow;
}
.voltaire-shadow-inset {
  box-shadow: inset 0 0 15px $voltaire-shadow;
}
.tokenfield {
  .token {
    background-color: $voltaire;
    border-color: $voltaire;
    color: $white;
    .close {
      background-image: url('../img/profile/iconClose.png');
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      width: 14px;
      text-indent: -9999px;
      opacity: 1;
      margin-right: 5px;
    }
    &:hover,
    &:focus {
      border-color: $voltaire;
      box-shadow: inset 0 0 15px $voltaire-shadow;
    }
  }
  .token-input {
    margin-bottom: 0;
  }
}
.ui-autocomplete {
  background-color: $white;
  border: solid 2px $gray-alt;
  border-radius: 5px;
  box-shadow: 0 0 15px $voltaire-shadow;
  padding: 0;
  min-width: 10px !important;
  max-width: 150px;
  list-style: none;
  li {
    padding: 8px 5px 8px 15px;
    color: $gray;
    font-size: 14px;
    &:hover,
    &:focus {
      background-color: $white3;
    }
    &:first-child {
      border-radius: 5px 5px 0 0;
    }
    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
}
.nav-list {
  li {
    position: relative;
    padding-left: 25px;
    margin-top: 15px;
    &::before {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $voltaire;
      border: solid 3px $voltaire5;
      box-shadow: 0 0 5px $voltaire-shadow;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}
.nav-tabs {
  border-bottom: solid 1px $white1;
  .nav-item {
    margin: 0;
    &.show {
      border: 0;
      background-color: transparent;
      color: $voltaire;
    }
  }
  .nav-link {
    color: $voltaire-text;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    padding: 10px 5px;
    margin: 0;
    border: 0;
    position: relative;
    @media screen and (max-width: 768px) {
      font-size: 15px;
    }
    &::before {
      width: 0;
      height: 2px;
      background-color: $voltaire;
      position: absolute;
      margin-top: 5px;
      -webkit-transition: .3s all ease-in-out;
      -o-transition: .3s all ease-in-out;
      transition: .3s all ease-in-out;
      content: '';
      left: 50%;
      bottom: -1px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
    }
    &:hover,
    &.active {
      border: 0;
      color: $voltaire;
      background-color: transparent;
      &::before {
        width: 100%;
        height: 2px;
        background-color: $voltaire;
        position: absolute;
        margin-top: 5px;
        -webkit-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
        transition: .3s all ease-in-out;
        content: '';
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
      }
    }
  }
}
.dropdown-menu {
  border: solid 2px $white1;
  border-radius: 5px;
  li {
    padding: .4rem 1.2rem;
    a {
      background: none;
      color: $gray;
      font-size: 14px;
      span {
        min-width: 40px;
        display: inline-flex;
        justify-content: center;
        position: relative;
        top: 3px;
        i,
        img {
          margin-right: 10px;
        }
      }
      &:hover,
      &:focus {
        color: $voltaire;
      }
    }
    &:hover,
    &:focus {
      background: none;
    }
    &.cardRed {
      a {
        color: $voltairered;
      }
    }
  }
}
/* SWITCH STYLES */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 33px;
  margin: 0;
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    border: solid 2px $white1;
    -webkit-transition: .4s;
    transition: .4s;
    &::before {
      position: absolute;
      content: '';
      height: 23px;
      width: 23px;
      left: 4px;
      bottom: 3px;
      background-color: $gray-lighter;
      -webkit-transition: .4s;
      transition: .4s;
    }
    &.round {
      border-radius: 33px;
      &::before {
        border-radius: 50%;
      }
    }
  }
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked {
      + {
        .slider {
          background-color: $white;
          &::before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            background-color: $voltaire;
          }
        }
      }
    }
    &:focus {
      + {
        .slider {
          box-shadow: 0 0 1px $voltaire-shadow;
        }
      }
    }
  }
}
.radioButton {
  margin: 0;
  input {
    position: absolute;
    opacity: 0;
    + .radio-label {
      cursor: pointer;
      position: relative;
      color: $form-control;
      font-size: 16px;
      padding: 10px 15px;
      &::before {
        content: '';
        border: solid .1rem $white1;
        border-radius: 5px;
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        margin-right: 1em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
      &:empty {
        &::before {
          margin-right: 0;
        }
      }
    }
    &:checked {
      + .radio-label {
        color: $voltaire;
        &::before {
          border-color: $voltaire;
        }
      }
    }
    &:focus {
      + .radio-label {
        &::before {
          outline: none;
          border-color: $voltaire;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &::before {
          border-color: $white1;
        }
      }
    }
  }
}
.radio {
  margin: 0 .5rem;
  input {
    position: absolute;
    opacity: 0;
    + .radio-label {
      cursor: pointer;
      position: relative;
      color: $form-control;
      font-size: 14px;
      &::before {
        content: '';
        border: solid .1rem $white1;
        border-radius: 4px;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 0;
        left: 0;
        margin-right: .7em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
      &::after {
        content: '';
        width: 9px;
        height: 9px;
        opacity: 0;
        position: absolute;
        left: .35rem;
        top: .35rem;
        background-color: $voltaire;
      }
      &:empty {
        &::before {
          margin-right: 0;
        }
      }
    }
    &:checked {
      + .radio-label {
        color: $voltaire;
        &::before {
          border-color: $voltaire;
        }
        &::after {
          opacity: 1;
        }
      }
    }
    &:focus {
      + .radio-label {
        &::before {
          outline: none;
          border-color: $voltaire;
        }
        &::after {
          opacity: 1;
        }
      }
    }
    &:disabled {
      + .radio-label {
        &::before {
          border-color: $white1;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
.checkbox {
  margin: 0 .5rem 0 0;
  input {
    position: absolute;
    opacity: 0;
    + .checkbox-label {
      cursor: pointer;
      position: relative;
      color: $form-control;
      font-size: 14px;
      &::before {
        content: '';
        border: solid .1rem $white1;
        border-radius: 4px;
        display: inline-block;
        width: 20px;
        height: 20px;
        position: relative;
        top: 0;
        left: 0;
        margin-right: .7em;
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
      &::after {
        content: '';
        width: 9px;
        height: 9px;
        opacity: 0;
        position: absolute;
        left: .35rem;
        top: .35rem;
        background-color: $voltaire;
      }
      &:empty {
        &::before {
          margin-right: 0;
        }
      }
    }
    &:checked {
      + .checkbox-label {
        color: $voltaire;
        &::before {
          border-color: $voltaire;
        }
        &::after {
          opacity: 1;
        }
      }
    }
    &:disabled {
      + .checkbox-label {
        &::before {
          border-color: $white1;
        }
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
.autocomplete {
  padding: .575rem .75rem;
  font-size: 14px;
  &:focus {
    box-shadow: 0 0 5px $voltaire-shadow;
    border-color: $white1;
  }
}
.xdsoft_autocomplete {
  .xdsoft_autocomplete_dropdown {
    position: relative;
    top: -.1rem !important;
    border: solid .1rem $white1;
    border-top: 0;
    box-shadow: 0 0 5px $voltaire-shadow;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    color: $gray;
    font-size: 14px;
    &>div {
      padding: 8px 15px !important;
      &.active {
        background-color: $white1;
        color: $gray;
      }
    }
  }
}
.formSearchview {
  .xdsoft_autocomplete {
    .xdsoft_autocomplete_dropdown {
      position: absolute;
      top: 2.6rem !important;
      border: solid .1rem $white1;
      border-top: 0;
      box-shadow: 0 0 5px $voltaire-shadow;
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;
      color: $gray;
      font-size: 14px;
      &>div {
        padding: 8px 15px !important;
        &.active {
          background-color: $white1;
          color: $gray;
        }
      }
    }
  }
}
.progress {
  height: 8px;
  background-color: $white4;
  .progress-bar {
    background-color: $voltaire;
  }
}