//
// Voltaire - _header.scss
//
.adminSidebar {
  position: fixed;
  width: 315px;
  height: 100%;
  background-color: $voltaire;
  box-shadow: 0 0 10px $voltaire-shadow;
  z-index: 2;
  .logo {
    box-shadow: inset 0 0 10px $voltaire-shadow;
    padding: 17px 35px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    background-color: $white;
    max-width: 330px;
    height: 100px;
    align-items: center;
  }
  .sidebar-wrapper {
    .sidebar-menu {
      padding: 25px 15px;
      .nav-item {
        min-width: 100%;
        position: relative;
        transition: .3s color ease-in-out;
        .nav-link {
          color: $white;
          font-weight: 400;
          font-size: 14px;
          padding: 5px 18px 5px 38px;
          position: relative;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          min-height: 60px;
          i {
            font-size: 18px;
            margin-right: 20px;
          }
        }
        &::before {
          content: '';
          background: linear-gradient(-35deg, $voltaire, $white);
          transition: .3s color ease-in-out;
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
        &::after {
          background-color: $white;
          transition: .3s color ease-in-out;
          content: '';
          width: 5px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
        &:hover,
        &:focus {
          &::before {
            opacity: .4;
            transition: .3s color ease-in-out;
          }
          &::after {
            opacity: 1;
            transition: .3s color ease-in-out;
          }
        }
      }
    }
  }
}
.admin-header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  border-bottom: solid 1px $white1;
  background-color: $white;
  padding-left: 215px;
  z-index: 1;
  .spaceLogo {
    max-width: 100px;
  }
  .searchBar {
    border-left: solid 1px $white1;
    border-right: solid 1px $white1;
    box-shadow: 0 0 10px $voltaire-shadow;
    .form-control {
      border-radius: 0;
      border: 0;
      height: 100%;
      color: $gray-base6;
      font-size: 18px;
      height: 100px;
      padding: 0 40px;
    }
  }
  .notification {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    color: $gray-base6;
    max-width: 120px;
    a {
      color: $gray-base6;
      position: relative;
      i {
        font-size: 26px;
      }
      .notification-counter {
        width: 13px;
        height: 13px;
        border: solid 3px $voltaire;
        border-radius: 50%;
        position: absolute;
        top: -13px;
        animation: .9s infinite beatHeart;
      }
    }
  }
  .avatar {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    border-left: solid 1px $white1;
    box-shadow: 0 0 10px $voltaire-shadow;
    .nav {
      a {
        color: $gray-base;
        img {
          box-shadow: 0 0 10px $voltaire-shadow;
          border-radius: 50%;
        }
        .avatarName {
          padding: 0 10px;
        }
        &::after {
          content: '';
          display: inline-flex;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid $gray-base6;
        }
        &:hover {
          color: $voltaire;
        }
      }
    }
  }
}