//
// Voltaire - _profile.scss
//

.profile {
  .coverImage {
    margin-top: -5vh;
    img {
      max-width: 100%;
      min-width: 100%;
      border-radius: 3px 3px 0 0;
    }
  }
  .userPicture {
    position: relative;
    .userImage {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50%;
      top: -122px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      img {
        border: solid 4px $white;
        border-radius: 50%;
        max-width: 100%;
        height: auto;
      }
      .editProfile {
        background-color: $voltaire;
        border-radius: 50%;
        border: solid 4px $white;
        position: absolute;
        right: -5px;
        bottom: 20px;
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 35px;
        z-index: 2;
        @media screen and (max-width: 768px) {
          width: 30px;
          height: 30px;
          line-height: 18px;
        }
        img {
          border: 0;
          border-radius: 0;
          @media screen and (max-width: 768px) {
            max-width: 10px;
          }
        }
      }
      @media screen and (max-width: 768px) {
        width: 100px;
        height: 100px;
        top: -20px;
      }
    }
  }
  .profileFill {
    padding: 120px 50px 0;
    form {
      .form-group {
        padding: 0 50px;
        margin-bottom: 35px;
        @media screen and (max-width: 768px) {
          padding: 0 20px;
        }
        .form-control {
          border-color: $gray-alt;
          border-width: .1rem;
          font-size: .9rem;
          color: $form-control;
          padding: 10px 15px;
          min-height: calc(2.6rem + 2px);
        }
        select {
          background-image: url('../img/profile/iconSelect.png');
          background-repeat: no-repeat;
          background-position: 97% center;
          padding-right: 35px !important;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }
      .form-action {
        .btn {
          min-width: 140px;
          padding-left: 25px;
          cursor: pointer;
          margin-left: auto;
          @media screen and (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
    @media screen and (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .ui-helper-hidden-accessible {
    display: none;
  }
}
.writingBox {
  .pageHeading {
    h2 {
      font-size: 35px;
      color: $voltaire1;
      @media screen and (max-width: 768px) {
        font-size: 25px;
      }
    }
  }
  .boxText {
    padding: 30px 40px;
    .btn-text {
      width: 100%;
      min-height: 150px;
      display: flex;
      border: solid .1rem $gray-base6;
      border-radius: 5px;
      color: $gray-base6;
      font-size: 22px;
      position: relative;
      span {
        padding: 15px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
      &:hover,
      &:focus,
      &:active,
      &.active {
        color: $voltaire;
        border-color: $voltaire;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 20px;
    }
  }
  .form-action {
    position: absolute;
    right: 20px;
    bottom: 20px;
    .btn {
      min-width: 140px;
      padding-left: 25px;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media screen and (max-width: 768px) {
      position: relative;
      right: 0;
      top: 0;
    }
  }
}
.writing {
  .voltaireArea {
    .voltairBOX {
      padding: 12vh 0;
      @media screen and (max-width: 600px) {
        padding: 5vh 0;
      }
    }
  }
}