//
// Voltaire - _variables.scss
//


// Fonts
$lato:                   'Lato', sans-serif;

// White to Black
$white:                  #fff !default;
$white1:                 #f1f1f1 !default;
$white2:                 #fdfdfd !default;
$gray-base:              #000 !default;
$gray-base1:             #aaa !default;
$gray-base2:             #9da2a5 !default;
$gray-base3:             #f3f3f3 !default;
$gray-base4:             #9f9f9f !default;
$gray-base5:             #f7f7f7 !default;
$gray-base6:             #bfc5d1 !default;
$gray-base7:             #bcbcbc !default;
$gray-base8:             #ababab !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%)   !default; // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 75%)   !default; // #bfbfbf
$gray-lightest:          lighten($gray-base, 93.5%) !default; // #eee


// Voltaire Color Scheme
$voltaire:               #009ef1 !default;
$voltaire1:              #00152d !default;
$voltaire2:              #00a7ff !default;
$voltaire-shadow:        rgba(0, 158, 241, .0784313725490196) !default;

// Nav Hover Color Scheme
$voltairegreen:               #03d967 !default;
$voltaireorange:              #ff8d38 !default;
